{
  "openapi": "3.0.0",
  "info": {
    "title": "FT Lightning Data API",
    "description": "FTLightning API provides REST access to FastTrack investment data for our 30k+ funds, ETFs, stocks, and indexes. The data includes dividend adjusted closing prices back to 1988, derived statistics and portfolio models. \n\nVisit https://apitrial.fasttrack.net for a trial account. \n\nSearch the FastTrack database here: https://ftcloud.fasttrack.net/web/search\n",
    "contact": {
      "email": "ftlightning@fasttrack.net",
      "name": "FT Lightning Support",
      "url": "http://www.fasttrack.net"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://ftlightning.fasttrack.net"
    }
  ],
  "paths": {
    "v1/auth/login": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Login",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pass",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "appid",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "description": "server authentication. The returned token must be passed with all other API calls"
      }
    },
    "v1/data/{ticker}/range": {
      "get": {
        "summary": "Data Range",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          },
          {
            "name": "start",
            "in": "query",
            "description": "First day in the date range of all calculations/requests",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "d",
            "in": "query",
            "description": "Use this to return a single date in the \"data/{ticker}/range\" function. This over rides any value set for start and end.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "unadj",
            "in": "query",
            "description": "Flag to include or exclude unadjusted prices. Only trailing 3 years of unadjusted data is available. -1 is returned on any prior date request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRange"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve a single ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Date Range"
        ]
      }
    },
    "v1/data/xmulti/range": {
      "post": {
        "summary": "Data Range - Multiple Tickers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "First day in the date range of all calculations/requests",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "d",
            "in": "query",
            "description": "Use this to return a single date in the \"data/{ticker}/range\" function. This over rides any value set for start and end.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "unadj",
            "in": "query",
            "description": "Flag to include or exclude unadjusted prices. Only trailing 3 years of unadjusted data is available. -1 is returned on any prior date request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TickerList"
        },
        "responses": {
          "200": {
            "description": "data points associated with ticker and parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRangeList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve multiple ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "operationId": "",
        "tags": [
          "Data - Date Range"
        ]
      }
    },
    "v1/data/{ticker}": {
      "get": {
        "summary": "Bulk Data",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          },
          {
            "name": "unadj",
            "in": "query",
            "description": "Flag to include or exclude unadjusted prices. Only trailing 3 years of unadjusted data is available. -1 is returned on any prior date request",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          }
        ],
        "responses": {
          "200": {
            "description": "Data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of a single ticker. Entire date range is 9/1/1988 to the most recent market day.\n",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Bulk"
        ]
      }
    },
    "v1/data/xmulti": {
      "post": {
        "summary": "Bulk Data - Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TickerList"
        },
        "responses": {
          "200": {
            "description": "data points associated with tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of multiple tickers. Entire date range is 9/1/1988 to the most recent market day.\n",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Bulk"
        ]
      }
    },
    "v1/data/{ticker}/divadjprices": {
      "get": {
        "summary": "Closing Prices - Dividend Adjusted",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's dividend adjusted closing prices for all days in FastTrack database. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Bulk"
        ]
      }
    },
    "v1/data/{ticker}/unadjprices": {
      "get": {
        "summary": "Closing Prices - Unadjusted",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's unadjusted closing prices for all days in FastTrack database. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Bulk"
        ]
      }
    },
    "v1/data/{ticker}/startday": {
      "get": {
        "summary": "Inception Date",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's start date. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Data - Bulk"
        ]
      }
    },
    "v1/data/{ticker}/symname": {
      "get": {
        "tags": [
          "Data - Bulk"
        ],
        "summary": "Name",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's name. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "v1/data/dates": {
      "get": {
        "tags": [
          "dates"
        ],
        "summary": "Dates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDates"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "operationId": "",
        "description": "Returns array with every date in the FastTrack database. This object is used to interpret the data/{ticker}/divadjprices and data/{ticker}/unadjprices results",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "v1/family/{strFamily}": {
      "get": {
        "tags": [
          "family"
        ],
        "summary": "Family",
        "parameters": [
          {
            "name": "strFamily",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function returns the requested family. Requested name must match FastTrack's family name exactly, CASE INSENSITIVE",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "v1/family/": {
      "get": {
        "tags": [
          "family"
        ],
        "summary": "Family Search",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Text to search all families",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options",
            "in": "query",
            "description": "if set to 'onlyticker', search will only return families that contain the exact ticker specified by 's'",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "onlyticker",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function searches all FastTrack families by family name, family partial name, and family members (tickers).",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "v1/stats/{ticker}": {
      "get": {
        "summary": "One Ticker",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          },
          {
            "name": "start",
            "in": "query",
            "description": "First day in the date range of all calculations/requests",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "basis",
            "in": "query",
            "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SP-DA"
            },
            "example": "FBIOX"
          },
          {
            "name": "len",
            "in": "query",
            "description": "Correlation length, described in market days",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 21
            },
            "example": 10
          },
          {
            "name": "maxdraw",
            "in": "query",
            "description": "Includes or exclude max draw data data in result. Max draw is a HEAVY calculation, so ommit when not necessary to improve performance",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "chart",
            "in": "query",
            "description": "Include or exclude chart data in result. Chart data is substantually larger than other data and substantually increase the size of the result. Only request if necessary.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Total number of datapoints returned in the FTChartData object. This helps improve API response time and minimizes the data loaded into charts",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": -1,
              "type": "integer",
              "description": "-1 returns all data points.",
              "default": 1000
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStats"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns calulated statistics on a single ticker over the date range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Charting and Stats"
        ]
      }
    },
    "v1/stats/xmulti": {
      "post": {
        "summary": "Multiple Tickers",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "First day in the date range of all calculations/requests",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "basis",
            "in": "query",
            "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SP-DA"
            },
            "example": "FBIOX"
          },
          {
            "name": "len",
            "in": "query",
            "description": "Correlation length, described in market days",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 21
            },
            "example": 10
          },
          {
            "name": "maxdraw",
            "in": "query",
            "description": "Includes or exclude max draw data data in result. Max draw is a HEAVY calculation, so ommit when not necessary to improve performance",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "chart",
            "in": "query",
            "description": "Include or exclude chart data in result. Chart data is substantually larger than other data and substantually increase the size of the result. Only request if necessary.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Total number of datapoints returned in the FTChartData object. This helps improve API response time and minimizes the data loaded into charts",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": -1,
              "type": "integer",
              "description": "-1 returns all data points.",
              "default": 1000
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/TickerList"
        },
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStatsList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns calulated statistics on multiple ticker over the date range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Charting and Stats"
        ]
      }
    },
    "v1/portfolios/staticmodel": {
      "post": {
        "summary": "Calculate Static Model",
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "First day in the date range of all calculations/requests",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "end",
            "in": "query",
            "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "yyyy-MM-dd"
            }
          },
          {
            "name": "basis",
            "in": "query",
            "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "SP-DA"
            },
            "example": "FBIOX"
          },
          {
            "name": "len",
            "in": "query",
            "description": "Correlation length, described in market days",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 21
            },
            "example": 10
          },
          {
            "name": "details",
            "in": "query",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "description": "include or exclude \"modeldetails\" object in resutl. Pass \"0\" to reduce result size.",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "maxdraw",
            "in": "query",
            "description": "Includes or exclude max draw data data in result. Max draw is a HEAVY calculation, so ommit when not necessary to improve performance",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "chart",
            "in": "query",
            "description": "Include or exclude chart data in result. Chart data is substantually larger than other data and substantually increase the size of the result. Only request if necessary.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "integer",
              "default": 0,
              "enum": [
                0,
                1
              ]
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "Total number of datapoints returned in the FTChartData object. This helps improve API response time and minimizes the data loaded into charts",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "minimum": -1,
              "type": "integer",
              "description": "-1 returns all data points.",
              "default": 1000
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/FTStaticModelParameters"
        },
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResults"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Calculates the specified portfolio over the specifed rebalance period",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Portfolio Modeling"
        ]
      }
    },
    "v1/export/{ticker}": {
      "get": {
        "summary": "Export CSV",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "JPM"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file with dates and closing prices",
            "headers": {
              "Content-Disposition": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "attachment,filename={ticker}.csv"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "CSV format {date},{closing price}",
                  "example": "SP-DA\nS&P 500 Dividend Adjusted Idx\n02/10/2017,4435.4200\n02/13/2017,4459.8300\n02/14/2017,4478.9800\n02/15/2017,4501.9900\n..."
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns a CSV file of a single ticker's adjusted/unadjusted closing prices.",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "export"
        ]
      }
    },
    "/v1/data/{ticker}/dividends": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "ticker",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Dividends",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDividends"
                }
              }
            }
          }
        },
        "operationId": "get-v1-data-ticker-dividends",
        "description": "Retrieve all dividends for a specific ticker",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "tags": [
          "Dividends"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "UserInfo": {
        "type": "object",
        "properties": {
          "AcountNumber": {
            "type": "string",
            "description": "User's account number"
          },
          "Pass": {
            "type": "string",
            "description": "User password"
          },
          "Token": {
            "type": "string",
            "description": "authentication token to include in all other API request."
          },
          "AppID": {
            "type": "string",
            "description": "string representing developers app id"
          },
          "Expiration": {
            "type": "string",
            "description": "account's expiration date"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "Basic information about user subscription"
      },
      "FTData": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "example": "SPY"
          },
          "name": {
            "type": "string",
            "example": "S&P 500"
          },
          "prices": {
            "type": "array",
            "description": "Array of closing prices. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "example": [
              10.01,
              11.04,
              11.09
            ],
            "items": {
              "type": "number"
            }
          },
          "unadjprices": {
            "type": "array",
            "description": "Array of unadjusted closing prices in same format as 'prices' object. Requests must use 'unadj' paramter to specifically request this data and it is limited to the trailing 3 years of data. Subscriptions for complete date range are available.",
            "example": [
              10.01,
              11.04,
              11.09
            ],
            "items": {
              "type": "number"
            }
          },
          "startdate": {
            "$ref": "#/components/schemas/FTDate"
          },
          "strstartmarketday": {
            "type": "string",
            "example": "9/1/88"
          },
          "intstartmarketday": {
            "type": "integer",
            "example": 1000
          },
          "yield": {
            "type": "number",
            "example": 3.02
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTDataList": {
        "type": "object",
        "properties": {
          "datalist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTData"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTDataRange": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string",
            "example": "SPY"
          },
          "name": {
            "type": "string",
            "example": "S&P 500"
          },
          "datarange": {
            "type": "array",
            "description": "Array of FTPrice objects containing adjusted and unadjusted prices for date range.",
            "items": {
              "$ref": "#/components/schemas/FTPrice"
            }
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTDataRangeList": {
        "type": "object",
        "properties": {
          "datalist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTDataRange"
            }
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTPrice": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/FTDate"
          },
          "price": {
            "type": "number"
          },
          "unadjprice": {
            "type": "number"
          },
          "open": {
            "type": "number"
          },
          "high": {
            "type": "number"
          },
          "low": {
            "type": "number"
          },
          "volume": {
            "type": "number"
          }
        }
      },
      "FTDates": {
        "type": "object",
        "properties": {
          "maxnumdays": {
            "type": "integer",
            "description": "maximum number of market days in the FastTrack database",
            "example": 3000
          },
          "strmaxnumdays": {
            "type": "string",
            "description": "The last day in the FastTrack database",
            "example": "09/01/88"
          },
          "dtes": {
            "type": "array",
            "description": "Array of FTDate objects for every day in the database. Every market day in the database is included in the array. Index 0 is a repeate of index 1.",
            "items": {
              "$ref": "#/components/schemas/FTDate"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "This object contains all date information for FastTrack. There are \"MaxNumDays\" in the database. All prices and date arrays are sized \"MaxNumdays\". The index of the array is also the market day of that value. A date's market day is number of market days elapsed since 9/1/88, the first day in the FastTrack database."
      },
      "FTDate": {
        "type": "object",
        "properties": {
          "marketdate": {
            "type": "integer",
            "description": "market days ellapsed since the first day in the database (9/1/88)"
          },
          "juliandate": {
            "type": "integer",
            "description": "julian representation of the date"
          },
          "strdate": {
            "type": "string",
            "description": "MM-dd-yy formatted date"
          }
        }
      },
      "FTFamily": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of family"
          },
          "tickers": {
            "type": "string",
            "description": "String of comma \",\" separated ticker that make up family."
          },
          "count": {
            "type": "integer",
            "description": "Number of tickers in family"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTReturns": {
        "type": "object",
        "properties": {
          "annualized": {
            "$ref": "#/components/schemas/FTReturns_annualized"
          },
          "total": {
            "$ref": "#/components/schemas/FTReturns_annualized"
          },
          "years": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTYearReturns"
            }
          }
        }
      },
      "FTYearReturns": {
        "type": "object",
        "properties": {
          "year": {
            "type": "string"
          },
          "returns": {
            "type": "string"
          }
        }
      },
      "FTRisk": {
        "type": "object",
        "properties": {
          "sd": {
            "type": "string",
            "description": "standard deviation over the time period"
          },
          "ui": {
            "type": "string",
            "description": "ulcer index over the time period"
          },
          "upi": {
            "type": "string",
            "description": "ulcer performance index against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default"
          },
          "sharpe": {
            "type": "string",
            "description": "sharpe ration against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default"
          },
          "corr": {
            "type": "string",
            "description": "correlation against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default. Correlation lenth is set via the \"len\" parameter or defaulted to 21 market days (approximately 1 month)"
          },
          "alpha": {
            "type": "string"
          },
          "beta": {
            "type": "string",
            "description": "beta against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default. Correlation lenth is set via the \"len\" parameter or defaulted to 21 market days (approximately 1 month)"
          },
          "ftalpha": {
            "type": "string",
            "description": "FastTrack proprietary calculation measuring risk, return, and correlation"
          },
          "rsi": {
            "type": "string",
            "description": "Relative strength index"
          }
        }
      },
      "FTDescribe": {
        "type": "object",
        "properties": {
          "sharesout": {
            "type": "string",
            "description": "number of shares outstanding at the most recent quarter end"
          },
          "marketcap": {
            "type": "string",
            "description": "number of shares outstanding multiplied by the most recent closing price"
          },
          "high_52": {
            "type": "string",
            "description": "adjusted closing price of the 52 week high from the \"end\" parameter"
          },
          "low_52": {
            "type": "string",
            "description": "adjusted closing price of the 52 week low from the \"end\" parameter"
          },
          "yield": {
            "type": "string",
            "description": "SEC yield for the priod 52 weeks from the \"end\" parameter"
          },
          "name": {
            "type": "string",
            "description": "Security name"
          }
        }
      },
      "FTStats": {
        "type": "object",
        "properties": {
          "ticker": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "aux": {
            "type": "integer",
            "description": "describes the order which tickers were received."
          },
          "max": {
            "$ref": "#/components/schemas/FTMaxDraw"
          },
          "risk": {
            "$ref": "#/components/schemas/FTRisk"
          },
          "returns": {
            "$ref": "#/components/schemas/FTReturns"
          },
          "describe": {
            "$ref": "#/components/schemas/FTDescribe"
          },
          "chartprices": {
            "$ref": "#/components/schemas/FTChartData"
          }
        },
        "description": "various data stats and points for requested tickers"
      },
      "FTStatsList": {
        "type": "object",
        "properties": {
          "statslist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTStats"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTChartData": {
        "type": "object",
        "properties": {
          "p_percents": {
            "type": "array",
            "description": "daily percent return data",
            "items": {
              "type": "number"
            }
          },
          "p_percents2": {
            "type": "array",
            "description": "percent return from start date data",
            "items": {
              "type": "number"
            }
          },
          "p_log": {
            "type": "array",
            "description": "log adjusted percent return from start date  data (p_percents2)",
            "items": {
              "type": "number"
            }
          },
          "p_divadj": {
            "type": "array",
            "description": "daily dividend adjusted closing prices",
            "items": {
              "type": "number"
            }
          },
          "dates": {
            "$ref": "#/components/schemas/FTDates"
          }
        }
      },
      "FTMaxDraw": {
        "type": "object",
        "properties": {
          "maxdrawdown": {
            "type": "string"
          },
          "maxdrawlength": {
            "type": "string"
          },
          "recoverylength": {
            "type": "string"
          },
          "peakdate": {
            "type": "string"
          },
          "valleydate": {
            "type": "string"
          }
        }
      },
      "err": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "-5000000"
          },
          "message": {
            "type": "string",
            "example": "invalid ticker"
          },
          "link": {
            "type": "string",
            "format": "url"
          }
        }
      },
      "FTStaticModelParameters": {
        "type": "object",
        "properties": {
          "model": {
            "type": "array",
            "description": "Array of FTPosition objects that contain the model portfolio to calculate",
            "example": [
              {
                "ticker": "SPY",
                "weight": "60"
              },
              {
                "ticker": "TLT",
                "weight": "40"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FTPosition"
            }
          },
          "start": {
            "type": "string",
            "description": "Model's start date. The first date the model is allocated to 'weights'. All dates prior are money market returns. Calendar, Julian, or market dates are accepted",
            "example": "2000-12-31"
          },
          "rebalanceperiod": {
            "type": "string",
            "description": "Specify the rebalance frequency. This is how often the portfolio trades.",
            "example": "month",
            "enum": [
              "week",
              "month",
              "quarter",
              "annual",
              "[number of market days]"
            ]
          },
          "marginrate": {
            "type": "number",
            "description": "annual percent interest on borrowed money. All interest is accrued quarterly.",
            "default": 0
          }
        }
      },
      "FTModelResults": {
        "type": "object",
        "properties": {
          "stats": {
            "$ref": "#/components/schemas/FTStats"
          },
          "modeldetails": {
            "type": "array",
            "description": "array containing the break down of all positions for each day of the model",
            "items": {
              "$ref": "#/components/schemas/FTPortfolio"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTPortfolio": {
        "type": "object",
        "x-examples": {},
        "properties": {
          "dte": {
            "$ref": "#/components/schemas/FTDate"
          },
          "totalvalue": {
            "type": "string"
          },
          "positionlist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTPosition"
            }
          }
        }
      },
      "FTPosition": {
        "type": "object",
        "example": {
          "ticker": "SPY",
          "weight": "50"
        },
        "properties": {
          "ticker": {
            "type": "string",
            "description": "ticker in portfolio"
          },
          "value": {
            "type": "number",
            "description": "dollar value of position. Only used in return result"
          },
          "weight": {
            "type": "string",
            "description": "percentage weighting of ticker.",
            "example": "50"
          }
        },
        "x-examples": {
          "Position Example": {
            "ticker": "JPM",
            "weight": 50
          }
        }
      },
      "FTReturns_annualized": {
        "type": "object",
        "properties": {
          "period": {
            "type": "string",
            "description": "total dividend adjusted return from start to end"
          },
          "oneday": {
            "type": "string"
          },
          "fiveday": {
            "type": "string"
          },
          "onemonth": {
            "type": "string"
          },
          "threemonths": {
            "type": "string"
          },
          "sixmonths": {
            "type": "string"
          },
          "ninemonths": {
            "type": "string"
          },
          "one": {
            "type": "string",
            "description": "one year total return from the \"end\" parameter"
          },
          "three": {
            "type": "string",
            "description": "three year total return from the \"end\" parameter"
          },
          "five": {
            "type": "string",
            "description": "five year total return from the \"end\" parameter"
          },
          "ten": {
            "type": "string",
            "description": "ten year total return from the \"end\" parameter"
          },
          "ytd": {
            "type": "string",
            "description": "year to date total return from the \"end\" parameter"
          }
        }
      },
      "FTDividends": {
        "title": "FTDividends",
        "type": "object",
        "properties": {
          "numdivs": {
            "type": "string",
            "description": "number of dividends returned in the response"
          },
          "datarange": {
            "type": "array",
            "description": "",
            "items": {
              "$ref": "#/components/schemas/FTDividend"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        }
      },
      "FTDividend": {
        "title": "FTDividend",
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/FTDate"
          },
          "type": {
            "type": "string"
          },
          "type_code": {
            "type": "string"
          },
          "value": {
            "type": "number"
          }
        }
      }
    },
    "parameters": {
      "appid": {
        "name": "appid",
        "in": "header",
        "description": "36 characher GUID received from welcome email. Sign up for trial at http://apitrail.fasttrack.net",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
      },
      "token": {
        "name": "token",
        "in": "header",
        "description": "36 characher GUID received from the auth/login end point",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
      },
      "ticker": {
        "name": "ticker",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "JPM"
      },
      "start": {
        "name": "start",
        "in": "query",
        "description": "First day in the date range of all calculations/requests",
        "required": true,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "end": {
        "name": "end",
        "in": "query",
        "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "d": {
        "name": "d",
        "in": "query",
        "description": "Use this to return a single date in the \"data/{ticker}/range\" function. This over rides any value set for start and end.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "unadj": {
        "name": "unadj",
        "in": "query",
        "description": "Flag to include or exclude unadjusted prices. Only trailing 3 years of unadjusted data is available. -1 is returned on any prior date request",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "olhv": {
        "name": "olhv",
        "in": "query",
        "description": "Flag to include or exclude open, low, high, and volume data in on the /data/{ticker}/range and /data/{ticker} endpoints. -1 is returned on any prior date request",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "basis": {
        "name": "basis",
        "in": "query",
        "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "string",
          "default": "SP-DA"
        },
        "example": "FBIOX"
      },
      "len": {
        "name": "len",
        "in": "query",
        "description": "Correlation length, described in market days",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "default": 21
        },
        "example": 10
      },
      "maxdraw": {
        "name": "maxdraw",
        "in": "query",
        "description": "Includes or exclude max draw data data in result. Max draw is a HEAVY calculation, so ommit when not necessary to improve performance",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "chart": {
        "name": "chart",
        "in": "query",
        "description": "Include or exclude chart data in result. Chart data is substantually larger than other data and substantually increase the size of the result. Only request if necessary.",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "count": {
        "name": "count",
        "in": "query",
        "description": "Total number of datapoints returned in the FTChartData object. This helps improve API response time and minimizes the data loaded into charts",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "minimum": -1,
          "type": "integer",
          "description": "-1 returns all data points.",
          "default": 1000
        }
      },
      "yield": {
        "name": "yield",
        "in": "query",
        "description": "flag to include or exclude yield",
        "required": false,
        "style": "form",
        "explode": true,
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 0
        }
      }
    },
    "requestBodies": {
      "TickerList": {
        "description": "A JSON Array containing requested tickers",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "example": [
                "SPY",
                "TLT",
                "JPM",
                "GE"
              ],
              "items": {
                "type": "string"
              }
            }
          }
        },
        "required": true
      },
      "FTStaticModelParameters": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FTStaticModelParameters"
            }
          }
        },
        "required": true
      }
    },
    "securitySchemes": {
      "appid": {
        "type": "apiKey",
        "in": "header",
        "name": "appid",
        "description": "36 characher GUID received from welcome email. Sign up for trial at http://apitrail.fasttrack.net"
      },
      "token": {
        "name": "token",
        "type": "apiKey",
        "in": "header",
        "description": "Temporary token received from auth/login end point "
      }
    }
  }
}