{
  "openapi": "3.0.0",
  "info": {
    "title": "FastTrack Market Data API",
    "description": "FastTrack Market Data API provides REST access to FastTrack investment data for our 30k+ funds, ETFs, stocks, and indexes. The data includes dividend adjusted closing prices back to 1988, derived statistics and portfolio models. \n\nVisit https://apitrial.fasttrack.net for a trial account. \n\nSearch the FastTrack database here: https://ftcloud.fasttrack.net/web/search\n",
    "contact": {
      "email": "api@fasttrack.net",
      "name": "FT Market Data API Support",
      "url": "http://www.fasttrack.net"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://ftl.fasttrack.net",
      "description": ""
    }
  ],
  "paths": {
    "/v1/auth/login": {
      "get": {
        "summary": "Login",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "account number"
          },
          {
            "name": "pass",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "password"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "application id received with sign up email"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "description": "Server authentication. The returned token must be passed as a header with all other API calls",
        "tags": [
          "1. Auth"
        ]
      }
    },
    "/v1/data/{ticker}/range": {
      "get": {
        "summary": "Data Range",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          },
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/d"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRange"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve a single ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "tags": [
          "2. Market Data"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "/v1/data/xmulti/range": {
      "post": {
        "summary": "Data Range - Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/d"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker and parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRangeList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve multiple ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "operationId": "",
        "tags": [
          "2. Market Data"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        }
      }
    },
    "/v1/data/{ticker}": {
      "get": {
        "summary": "OHLCV Data",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "Data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of a single ticker. Entire date range is 9/1/1988 to the most recent market day.\n",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/xmulti": {
      "post": {
        "summary": "Multiple OHLCV Data",
        "parameters": [
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "data points associated with tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of multiple tickers. Entire date range is 9/1/1988 to the most recent market day.\n",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/{ticker}/divadjprices": {
      "get": {
        "summary": "Closing Prices - Adjusted",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's dividend adjusted closing prices for all days in FastTrack database. All other objects are null",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/{ticker}/unadjprices": {
      "get": {
        "summary": "Closing Prices - Unadjusted",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's unadjusted closing prices for all days in FastTrack database. All other objects are null",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/{ticker}/startday": {
      "get": {
        "summary": "Inception Date",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's start date. All other objects are null",
        "operationId": "zxzsdzsd",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/xmulti/startday": {
      "parameters": [],
      "post": {
        "summary": "Inception Date Multiple",
        "operationId": "post-v1-data-xmulti-startday",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          }
        },
        "description": "Returns ticker's start date. All other objects are null",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/data/{ticker}/symname": {
      "get": {
        "summary": "Symbol Name",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's name. All other objects are null",
        "tags": [
          "11. Bulk Data"
        ]
      },
      "parameters": []
    },
    "/v1/data/dates": {
      "get": {
        "summary": "All Dates",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDates"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "operationId": "1231jsoasd",
        "description": "Returns array with every date in the FastTrack database. This object is used to interpret the data/{ticker}/divadjprices and data/{ticker}/unadjprices results",
        "tags": [
          "11. Bulk Data"
        ]
      }
    },
    "/v1/family/{strFamily}": {
      "get": {
        "summary": "Family",
        "parameters": [
          {
            "name": "strFamily",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function returns the requested family. Requested name must match FastTrack's family name exactly, CASE INSENSITIVE",
        "tags": [
          "Other Data"
        ]
      }
    },
    "/v1/family/": {
      "get": {
        "summary": "Family Search",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Text to search all families",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options",
            "in": "query",
            "description": "if set to 'onlyticker', search will only return families that contain the exact ticker specified by 's'",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "onlyticker",
                "all"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function searches all FastTrack families by family name, family partial name, and family members (tickers).",
        "tags": [
          "Other Data"
        ]
      }
    },
    "/v1/stats/{ticker}": {
      "get": {
        "summary": "One Ticker",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          },
          {
            "$ref": "#/components/parameters/ma"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStats"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns calulated statistics on a single ticker over the date range",
        "tags": [
          "3. Stats"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "/v1/stats/xmulti": {
      "post": {
        "summary": "Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          },
          {
            "$ref": "#/components/parameters/ma"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStatsList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns calulated statistics on multiple ticker over the date range",
        "tags": [
          "3. Stats"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        }
      }
    },
    "/v1/portfolios/staticmodel": {
      "post": {
        "summary": "Calculate Static Model",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          },
          {
            "$ref": "#/components/parameters/details"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with static model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResults"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Calculates the specified portfolio over the specifed rebalance period",
        "tags": [
          "4. Portfolio Modeling"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FTStaticModel"
              },
              "examples": {
                "Static Model Example": {
                  "value": {
                    "start": "2000-12-31",
                    "rebalanceperiod": "month",
                    "marginrate": 0,
                    "seed": 100000,
                    "model": [
                      {
                        "ticker": "SPY",
                        "weight": "50"
                      },
                      {
                        "ticker": "TLT",
                        "weight": "50"
                      }
                    ],
                    "name": "Example Model"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/v1/portfolios/staticmodel/xmulti": {
      "post": {
        "summary": "Calculate Multiple Static Models",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/details"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with static models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResultsList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Calculates the specified portfolios over the specifed rebalance period",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "",
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "$ref": "#/components/schemas/FTStaticModel"
                }
              },
              "examples": {
                "Multi Static Model Example": {
                  "value": [
                    {
                      "model": [
                        {
                          "ticker": "SPY",
                          "weight": "50"
                        },
                        {
                          "ticker": "TLT",
                          "weight": "50"
                        }
                      ],
                      "start": "12/31/2000",
                      "rebalanceperiod": "quarter",
                      "name": "50 50 Static Model"
                    },
                    {
                      "model": [
                        {
                          "ticker": "SPY",
                          "weight": "60"
                        },
                        {
                          "ticker": "TLT",
                          "weight": "40"
                        }
                      ],
                      "start": "12/31/2000",
                      "rebalanceperiod": "month",
                      "name": "60 40 Static Model"
                    }
                  ]
                }
              }
            }
          },
          "description": "Array of FTStaticModel Parameters"
        },
        "operationId": "staticmulti",
        "tags": [
          "4. Portfolio Modeling"
        ]
      }
    },
    "/v1/portfolios/dynamicmodel": {
      "post": {
        "summary": "Dynamic Model",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/details"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResults"
                },
                "examples": {}
              }
            }
          }
        },
        "description": "String together multiple static models to get the results of an acticely traded portfolio. Returns performance, charting, and position.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "marginrate": {
                    "type": "string",
                    "description": "annual percent interest on borrowed money. All interest is accrued quarterly.",
                    "example": "0.03"
                  },
                  "models": {
                    "type": "array",
                    "uniqueItems": false,
                    "description": "Array of FTStaticModelParameters that define the dynamic model",
                    "items": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "array",
                          "uniqueItems": false,
                          "description": "List of FTPositions that define the positions on \"start\"",
                          "items": {
                            "$ref": "#/components/schemas/FTPosition"
                          }
                        },
                        "start": {
                          "type": "string",
                          "description": "day to rebalance to positions",
                          "example": "2001-01-11"
                        }
                      }
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "name of model",
                    "example": "Example Dynamic Model"
                  },
                  "seedvalue": {
                    "type": "string",
                    "description": "value of portfolio on the first day of trading",
                    "example": "1000"
                  },
                  "ticker": {
                    "type": "string",
                    "description": "ticker to use in the response",
                    "example": "$XX"
                  }
                }
              },
              "examples": {
                "example-dynamic": {
                  "value": {
                    "marginrate": "0",
                    "models": [
                      {
                        "start": "12/31/2020",
                        "model": [
                          {
                            "ticker": "SPY",
                            "weight": "50"
                          },
                          {
                            "ticker": "TLT",
                            "weight": "50"
                          }
                        ]
                      }
                    ],
                    "name": "Example Model",
                    "seedvalue": "1000",
                    "ticker": "XX$$"
                  }
                }
              }
            }
          }
        },
        "operationId": "dynamicmodel-post-v1-portfolios",
        "tags": [
          "4.1 Dynamic Modeling"
        ]
      }
    },
    "/v1/export/{ticker}": {
      "get": {
        "summary": "Export CSV",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "appid",
            "description": "36 characher GUID received from welcome email. Sign up for trial at http://apitrial.fasttrack.net",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "token",
            "description": "Temporary token received from auth/login end point",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "1",
                "0"
              ],
              "default": "1"
            },
            "in": "query",
            "name": "backfill",
            "description": "This function exports data for all requested dates. If a requested date/date range date is before the security's inception, the security's first known value is shown. Turn this off by sending a 0 value."
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file with dates and closing prices",
            "headers": {
              "Content-Disposition": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "attachment,filename={ticker}.csv"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "CSV format {date},{closing price}",
                  "example": "SP-DA\nS&P 500 Dividend Adjusted Idx\n02/10/2017,4435.4200\n02/13/2017,4459.8300\n02/14/2017,4478.9800\n02/15/2017,4501.9900\n..."
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns a CSV file of a single ticker's adjusted/unadjusted closing prices.",
        "tags": [
          "6. CSV Export"
        ],
        "security": []
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "/v1/data/{ticker}/dividends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Dividends",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDividends"
                }
              }
            }
          }
        },
        "operationId": "get-v1-data-ticker-dividends",
        "description": "Retrieve all dividends for a specific ticker",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "tags": [
          "5. Dividends"
        ]
      }
    },
    "/v1/report": {
      "get": {
        "summary": "Embed Chart (iframe)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "simple HTML webpage that renders in any browser"
                },
                "examples": {}
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-chart-report.html",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "[hex],[hex],[hex]"
            },
            "in": "query",
            "name": "colors",
            "description": "comma separated values for chart line colors. color order is applied the same as \"tickers\". Specify hex code and do not include \"#\""
          },
          {
            "schema": {
              "type": "string",
              "example": "000000",
              "pattern": ""
            },
            "in": "query",
            "name": "fore",
            "description": "foreground (text) color of chart and report in hex code (do not include \"#\")"
          },
          {
            "schema": {
              "type": "string",
              "example": "ffccbc",
              "default": "FFFFFF"
            },
            "in": "query",
            "name": "bg",
            "description": "background color of chart and report in hex code (do not include \"#\")"
          },
          {
            "schema": {
              "type": "string",
              "example": "1",
              "default": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showdates",
            "description": "toggle to show or hide date selectors on chart"
          },
          {
            "schema": {
              "type": "string",
              "example": "1",
              "default": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showheader",
            "description": "toggle to show or hide header on report"
          },
          {
            "schema": {
              "type": "string",
              "default": "1",
              "example": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showreport",
            "description": "toggle to show or hide header of report"
          },
          {
            "in": "query",
            "name": "basis",
            "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
            "schema": {
              "default": "SP-DA",
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string",
              "pattern": "ticker,ticker,ticker"
            },
            "in": "query",
            "name": "tickers",
            "required": true,
            "description": "comma separated list of tickers to display in chart, and report"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "y",
                "1",
                "2",
                "3",
                "6",
                "9",
                "12",
                "24",
                "36",
                "60",
                "84",
                "120",
                "180",
                "240",
                "m"
              ]
            },
            "in": "query",
            "name": "datebuttons",
            "description": "comma separated list of date shortcut buttons to show. defined as number of months ie 24 = two years, 60 = 5 years"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "token",
            "required": true,
            "description": "authentication token returned from the /login endpoint "
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "appid",
            "description": "application id assigned at account opening",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "2019-12-31"
            },
            "in": "query",
            "name": "start",
            "description": "First day in the date range of all calculations/requests"
          }
        ],
        "security": [],
        "description": "Embed custom FastTrack charts on your webpage with an iframe.",
        "tags": [
          "7. iFrame Chart"
        ]
      },
      "parameters": []
    },
    "/v1/ref/{ticker}/details": {
      "parameters": [
        {
          "name": "ticker",
          "in": "path",
          "description": "ticker symbol",
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string",
            "example": "JPM"
          },
          "example": "JPM",
          "required": true
        }
      ],
      "get": {
        "summary": "Ticker Details",
        "tags": [
          "8. Reference Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTInfoTicker"
                }
              }
            }
          }
        },
        "operationId": "get-info-tickeR-details",
        "description": "Returns category and expense ratio of ticker \\*\\***Must use https://FTL.fasttrack.net/v1 server** \\*\\*",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ]
      }
    },
    "/v1/ref/{ticker}/portfolio": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Portfolio Details",
        "tags": [
          "8. Reference Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTInfoPortfolio"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "get-info-ticker-portfolio",
        "description": "Get mutual fund or ETF's top ten positions, sector weighting, and net 1 year flows \\*\\***Must use https://FTL.fasttrack.net/v1 server** \\*\\*",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "MAX",
                "0",
                "false"
              ]
            },
            "in": "query",
            "name": "topcount",
            "description": "Include with value of \"MAX\" to return all known positions (usually top 25 positions)"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ]
      }
    },
    "/v1/search": {
      "get": {
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "curor position of search results. ie index of first result to return. Use this to page through results"
          },
          {
            "name": "fq",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "db:1",
                "db:2",
                "db:3",
                "db:15"
              ]
            },
            "description": "filter options. Use 1 for Funds, 2 for ETFs, 3 for Stocks, and 15 for indexes."
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "text or phrase to search for"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "number of results to return"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string",
                      "description": "total results for search request"
                    },
                    "start": {
                      "type": "string",
                      "description": "start index of search results (used in paging through results)"
                    },
                    "hit": {
                      "type": "array",
                      "description": "list of all search results",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "security name"
                          },
                          "ticker": {
                            "type": "string",
                            "description": "security ticker"
                          },
                          "score": {
                            "type": "string",
                            "description": "items relevance score relative to search term"
                          },
                          "db": {
                            "type": "string",
                            "description": "security type: 1 = Funds, 2 = ETF, 3 = Stock, 15 = Index"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-search",
        "description": "Search the fasttrack database accross ticker, name, and cusip",
        "tags": [
          "9. Search"
        ],
        "summary": "Search Database"
      }
    },
    "/v1/ref/staticmodel": {
      "post": {
        "summary": "Static Model Details",
        "operationId": "post-v1-portfolios-staticmodel-ref",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portfolio": {
                      "$ref": "#/components/schemas/FTInfoPortfolio"
                    },
                    "positiondata": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FTInfoPortfolio"
                      }
                    },
                    "total": {
                      "type": "string"
                    },
                    "model": {
                      "$ref": "#/components/schemas/FTStaticModel"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "returns reference data for portfolio and portfolio positions ",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FTStaticModel"
              },
              "examples": {
                "Static Model Example": {
                  "value": {
                    "start": "2000-12-31",
                    "rebalanceperiod": "month",
                    "marginrate": 0,
                    "seed": 100000,
                    "model": [
                      {
                        "ticker": "SPY",
                        "weight": "50"
                      },
                      {
                        "ticker": "TLT",
                        "weight": "50"
                      }
                    ],
                    "name": "Example Model"
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "8. Reference Data"
        ]
      },
      "parameters": []
    },
    "/v1/staticmodel/ref": {
      "post": {
        "summary": "Reference Data - Static Model",
        "operationId": "post-v1-staticmodel-ref",
        "description": "Returns reference data for portfolio and portfolio positions\n\nUSE:\nJump to [v1/staticmodel/ref](https://fasttrack.stoplight.io/docs/ftlightning/openapi.json/paths/~1v1~1ref~1staticmodel/post)",
        "tags": [
          "4. Portfolio Modeling"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "security": []
      }
    },
    "/v1/precalc/winlose": {
      "get": {
        "summary": "Winners and Losers",
        "tags": [
          "10. Pre Calculated Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTWinLose"
                }
              }
            }
          }
        },
        "operationId": "get-v1-precalc-topten",
        "description": "Retrieve top ten winners and losers of a specific security universe",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "STOCKS1",
                "STOCKS2",
                "EQUTYFUNDS",
                "BONDFUNDS",
                "BONDETFS",
                "EQUITYETFS",
                "ETFS"
              ]
            },
            "in": "query",
            "name": "db",
            "required": true,
            "description": "universe of securities to calculate winners and losers"
          },
          {
            "schema": {
              "type": "string",
              "format": "yyyyMMdd",
              "example": "20201231"
            },
            "in": "query",
            "name": "date",
            "required": true,
            "description": "end date of rankings"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ]
      },
      "parameters": []
    },
    "/v1/portfolios/momentummodel": {
      "post": {
        "summary": "Momentum Model",
        "operationId": "post-portfolios-MomentumModel",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResults"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FTMomentumModelParameters"
              },
              "examples": {
                "Banks Example": {
                  "value": {
                    "seedvalue": 1000,
                    "rebalanceperiod": "quarter",
                    "model": {
                      "universe": [
                        "JPM",
                        "BAC",
                        "GS",
                        "MS"
                      ],
                      "number_holdings": "1",
                      "basis": "SP-DA",
                      "ranking_system": "return",
                      "ranking_period": "quarter",
                      "model": "momentum",
                      "tradedelay": "1"
                    }
                  }
                }
              }
            }
          },
          "description": ""
        },
        "tags": [
          "4.2 Momentum Modeling"
        ],
        "x-internal": false,
        "description": "",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ]
      },
      "parameters": []
    },
    "/v1/stats/{ticker}/{stat}": {
      "parameters": [
        {
          "name": "ticker",
          "in": "path",
          "description": "ticker symbol",
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string",
            "example": "JPM"
          },
          "example": "JPM",
          "required": true
        },
        {
          "schema": {
            "type": "string",
            "enum": [
              "52high",
              "52low",
              "corr",
              "max",
              "price",
              "return",
              "sharpe",
              "sd",
              "ui",
              "upi",
              "sharpe_month",
              "beta_month",
              "sd_month",
              "alpha",
              "alpha_month"
            ]
          },
          "name": "stat",
          "in": "path",
          "required": true,
          "description": "Statistic to return"
        }
      ],
      "get": {
        "summary": "Bulk Stats",
        "tags": [
          "3.1. Bulk Stats"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "report": "return",
                      "ticker": "IGV",
                      "name": "iShares Expanded Tech-Software Sect ETF",
                      "list": [
                        {
                          "dte": "06-21-2021",
                          "val": "6.11%"
                        },
                        {
                          "dte": "05-28-2021",
                          "val": "-0.74%"
                        },
                        {
                          "dte": "04-30-2021",
                          "val": "5.91%"
                        },
                        {
                          "dte": "03-31-2021",
                          "val": "-3.72%"
                        },
                        {
                          "dte": "02-26-2021",
                          "val": "1.65%"
                        },
                        {
                          "dte": "01-29-2021",
                          "val": "-1.48%"
                        },
                        {
                          "dte": "12-31-2020",
                          "val": "4.85%"
                        },
                        {
                          "dte": "11-30-2020",
                          "val": "10.86%"
                        },
                        {
                          "dte": "10-30-2020",
                          "val": "-2.08%"
                        },
                        {
                          "dte": "09-30-2020",
                          "val": "-4.00%"
                        },
                        {
                          "dte": "08-31-2020",
                          "val": "9.76%"
                        },
                        {
                          "dte": "07-31-2020",
                          "val": "3.87%"
                        },
                        {
                          "dte": "06-30-2020",
                          "val": "6.38%"
                        },
                        {
                          "dte": "05-29-2020",
                          "val": "10.96%"
                        },
                        {
                          "dte": "04-30-2020",
                          "val": "14.55%"
                        },
                        {
                          "dte": "03-31-2020",
                          "val": "-9.83%"
                        },
                        {
                          "dte": "02-28-2020",
                          "val": "-5.67%"
                        },
                        {
                          "dte": "01-31-2020",
                          "val": "6.71%"
                        },
                        {
                          "dte": "12-31-2019",
                          "val": "0.45%"
                        },
                        {
                          "dte": "11-29-2019",
                          "val": "7.95%"
                        },
                        {
                          "dte": "10-31-2019",
                          "val": "1.43%"
                        },
                        {
                          "dte": "09-30-2019",
                          "val": "-1.81%"
                        },
                        {
                          "dte": "08-30-2019",
                          "val": "-2.78%"
                        },
                        {
                          "dte": "07-31-2019",
                          "val": "1.60%"
                        },
                        {
                          "dte": "06-28-2019",
                          "val": "5.94%"
                        },
                        {
                          "dte": "05-31-2019",
                          "val": "-7.04%"
                        },
                        {
                          "dte": "04-30-2019",
                          "val": "5.25%"
                        },
                        {
                          "dte": "03-29-2019",
                          "val": "1.79%"
                        },
                        {
                          "dte": "02-28-2019",
                          "val": "7.75%"
                        },
                        {
                          "dte": "01-31-2019",
                          "val": "10.78%"
                        },
                        {
                          "dte": "12-31-2018",
                          "val": "-6.41%"
                        },
                        {
                          "dte": "11-30-2018",
                          "val": "1.30%"
                        },
                        {
                          "dte": "10-31-2018",
                          "val": "-10.59%"
                        },
                        {
                          "dte": "09-28-2018",
                          "val": "2.05%"
                        },
                        {
                          "dte": "08-31-2018",
                          "val": "8.26%"
                        },
                        {
                          "dte": "07-31-2018",
                          "val": "1.55%"
                        },
                        {
                          "dte": "06-29-2018",
                          "val": "-0.13%"
                        },
                        {
                          "dte": "05-31-2018",
                          "val": "5.33%"
                        },
                        {
                          "dte": "04-30-2018",
                          "val": "2.35%"
                        },
                        {
                          "dte": "03-29-2018",
                          "val": "-1.09%"
                        },
                        {
                          "dte": "02-28-2018",
                          "val": "0.84%"
                        },
                        {
                          "dte": "01-31-2018",
                          "val": "10.09%"
                        },
                        {
                          "dte": "12-29-2017",
                          "val": "-0.79%"
                        },
                        {
                          "dte": "11-30-2017",
                          "val": "-0.43%"
                        },
                        {
                          "dte": "10-31-2017",
                          "val": "6.99%"
                        },
                        {
                          "dte": "09-29-2017",
                          "val": "-0.70%"
                        },
                        {
                          "dte": "08-31-2017",
                          "val": "3.63%"
                        },
                        {
                          "dte": "07-31-2017",
                          "val": "3.93%"
                        },
                        {
                          "dte": "06-30-2017",
                          "val": "-1.22%"
                        },
                        {
                          "dte": "05-31-2017",
                          "val": "6.03%"
                        },
                        {
                          "dte": "04-28-2017",
                          "val": "3.30%"
                        },
                        {
                          "dte": "03-31-2017",
                          "val": "3.04%"
                        },
                        {
                          "dte": "02-28-2017",
                          "val": "4.80%"
                        },
                        {
                          "dte": "01-31-2017",
                          "val": "7.64%"
                        },
                        {
                          "dte": "12-30-2016",
                          "val": "-2.62%"
                        },
                        {
                          "dte": "11-30-2016",
                          "val": "-0.55%"
                        },
                        {
                          "dte": "10-31-2016",
                          "val": "-0.98%"
                        },
                        {
                          "dte": "09-30-2016",
                          "val": "0.90%"
                        },
                        {
                          "dte": "08-31-2016",
                          "val": "2.09%"
                        },
                        {
                          "dte": "07-29-2016",
                          "val": "4.85%"
                        },
                        {
                          "dte": "06-30-2016",
                          "val": "-0.90%"
                        },
                        {
                          "dte": "05-31-2016",
                          "val": "5.78%"
                        },
                        {
                          "dte": "04-29-2016",
                          "val": "-0.28%"
                        },
                        {
                          "dte": "03-31-2016",
                          "val": "9.17%"
                        },
                        {
                          "dte": "02-29-2016",
                          "val": "-2.08%"
                        },
                        {
                          "dte": "01-29-2016",
                          "val": "-8.58%"
                        },
                        {
                          "dte": "12-31-2015",
                          "val": "-1.58%"
                        },
                        {
                          "dte": "11-30-2015",
                          "val": "2.09%"
                        },
                        {
                          "dte": "10-30-2015",
                          "val": "9.22%"
                        },
                        {
                          "dte": "09-30-2015",
                          "val": "-0.51%"
                        },
                        {
                          "dte": "08-31-2015",
                          "val": "-7.12%"
                        },
                        {
                          "dte": "07-31-2015",
                          "val": "3.02%"
                        },
                        {
                          "dte": "06-30-2015",
                          "val": "-1.35%"
                        },
                        {
                          "dte": "05-29-2015",
                          "val": "1.17%"
                        },
                        {
                          "dte": "04-30-2015",
                          "val": "3.79%"
                        },
                        {
                          "dte": "03-31-2015",
                          "val": "-2.20%"
                        },
                        {
                          "dte": "02-27-2015",
                          "val": "9.82%"
                        },
                        {
                          "dte": "01-30-2015",
                          "val": "-3.53%"
                        },
                        {
                          "dte": "12-31-2014",
                          "val": "-0.08%"
                        },
                        {
                          "dte": "11-28-2014",
                          "val": "3.31%"
                        },
                        {
                          "dte": "10-31-2014",
                          "val": "4.02%"
                        },
                        {
                          "dte": "09-30-2014",
                          "val": "-2.04%"
                        },
                        {
                          "dte": "08-29-2014",
                          "val": "4.11%"
                        },
                        {
                          "dte": "07-31-2014",
                          "val": "-1.35%"
                        },
                        {
                          "dte": "06-30-2014",
                          "val": "5.39%"
                        },
                        {
                          "dte": "05-30-2014",
                          "val": "2.95%"
                        },
                        {
                          "dte": "04-30-2014",
                          "val": "-4.72%"
                        },
                        {
                          "dte": "03-31-2014",
                          "val": "-3.86%"
                        },
                        {
                          "dte": "02-28-2014",
                          "val": "5.62%"
                        },
                        {
                          "dte": "01-31-2014",
                          "val": "0.01%"
                        },
                        {
                          "dte": "12-31-2013",
                          "val": "4.40%"
                        },
                        {
                          "dte": "11-29-2013",
                          "val": "3.12%"
                        },
                        {
                          "dte": "10-31-2013",
                          "val": "0.01%"
                        },
                        {
                          "dte": "09-30-2013",
                          "val": "4.09%"
                        },
                        {
                          "dte": "08-30-2013",
                          "val": "0.11%"
                        },
                        {
                          "dte": "07-31-2013",
                          "val": "7.86%"
                        },
                        {
                          "dte": "06-28-2013",
                          "val": "-2.13%"
                        },
                        {
                          "dte": "05-31-2013",
                          "val": "1.92%"
                        },
                        {
                          "dte": "04-30-2013",
                          "val": "-1.76%"
                        },
                        {
                          "dte": "03-28-2013",
                          "val": "3.59%"
                        },
                        {
                          "dte": "02-28-2013",
                          "val": "0.48%"
                        },
                        {
                          "dte": "01-31-2013",
                          "val": "5.87%"
                        },
                        {
                          "dte": "12-31-2012",
                          "val": "2.39%"
                        },
                        {
                          "dte": "11-30-2012",
                          "val": "1.97%"
                        },
                        {
                          "dte": "10-31-2012",
                          "val": "-5.13%"
                        },
                        {
                          "dte": "09-28-2012",
                          "val": "1.18%"
                        },
                        {
                          "dte": "08-31-2012",
                          "val": "5.99%"
                        },
                        {
                          "dte": "07-31-2012",
                          "val": "-4.33%"
                        },
                        {
                          "dte": "06-29-2012",
                          "val": "4.49%"
                        },
                        {
                          "dte": "05-31-2012",
                          "val": "-8.31%"
                        },
                        {
                          "dte": "04-30-2012",
                          "val": "-1.53%"
                        },
                        {
                          "dte": "03-30-2012",
                          "val": "4.60%"
                        },
                        {
                          "dte": "02-29-2012",
                          "val": "6.49%"
                        },
                        {
                          "dte": "01-31-2012",
                          "val": "9.35%"
                        },
                        {
                          "dte": "12-30-2011",
                          "val": "-6.35%"
                        },
                        {
                          "dte": "11-30-2011",
                          "val": "-3.68%"
                        },
                        {
                          "dte": "10-31-2011",
                          "val": "15.05%"
                        },
                        {
                          "dte": "09-30-2011",
                          "val": "-4.94%"
                        },
                        {
                          "dte": "08-31-2011",
                          "val": "-7.13%"
                        },
                        {
                          "dte": "07-29-2011",
                          "val": "-6.72%"
                        },
                        {
                          "dte": "06-30-2011",
                          "val": "-2.40%"
                        },
                        {
                          "dte": "05-31-2011",
                          "val": "0.70%"
                        },
                        {
                          "dte": "04-29-2011",
                          "val": "3.97%"
                        },
                        {
                          "dte": "03-31-2011",
                          "val": "1.42%"
                        },
                        {
                          "dte": "02-28-2011",
                          "val": "3.89%"
                        },
                        {
                          "dte": "01-31-2011",
                          "val": "0.72%"
                        },
                        {
                          "dte": "12-31-2010",
                          "val": "6.05%"
                        },
                        {
                          "dte": "11-30-2010",
                          "val": "0.35%"
                        },
                        {
                          "dte": "10-29-2010",
                          "val": "5.86%"
                        },
                        {
                          "dte": "09-30-2010",
                          "val": "9.80%"
                        },
                        {
                          "dte": "08-31-2010",
                          "val": "-0.04%"
                        },
                        {
                          "dte": "07-30-2010",
                          "val": "9.81%"
                        },
                        {
                          "dte": "06-30-2010",
                          "val": "-6.31%"
                        },
                        {
                          "dte": "05-28-2010",
                          "val": "-6.76%"
                        },
                        {
                          "dte": "04-30-2010",
                          "val": "1.44%"
                        },
                        {
                          "dte": "03-31-2010",
                          "val": "6.30%"
                        },
                        {
                          "dte": "02-26-2010",
                          "val": "4.24%"
                        },
                        {
                          "dte": "01-29-2010",
                          "val": "-6.51%"
                        },
                        {
                          "dte": "12-31-2009",
                          "val": "6.06%"
                        },
                        {
                          "dte": "11-30-2009",
                          "val": "2.84%"
                        },
                        {
                          "dte": "10-30-2009",
                          "val": "-1.33%"
                        },
                        {
                          "dte": "09-30-2009",
                          "val": "6.14%"
                        },
                        {
                          "dte": "08-31-2009",
                          "val": "0.71%"
                        },
                        {
                          "dte": "07-31-2009",
                          "val": "5.79%"
                        },
                        {
                          "dte": "06-30-2009",
                          "val": "2.80%"
                        },
                        {
                          "dte": "05-29-2009",
                          "val": "2.77%"
                        },
                        {
                          "dte": "04-30-2009",
                          "val": "10.22%"
                        },
                        {
                          "dte": "03-31-2009",
                          "val": "14.63%"
                        },
                        {
                          "dte": "02-27-2009",
                          "val": "-3.87%"
                        },
                        {
                          "dte": "01-30-2009",
                          "val": "-5.54%"
                        },
                        {
                          "dte": "12-31-2008",
                          "val": "2.65%"
                        },
                        {
                          "dte": "11-28-2008",
                          "val": "-8.70%"
                        },
                        {
                          "dte": "10-31-2008",
                          "val": "-22.95%"
                        },
                        {
                          "dte": "09-30-2008",
                          "val": "-10.68%"
                        },
                        {
                          "dte": "08-29-2008",
                          "val": "3.66%"
                        },
                        {
                          "dte": "07-31-2008",
                          "val": "0.65%"
                        },
                        {
                          "dte": "06-30-2008",
                          "val": "-8.74%"
                        },
                        {
                          "dte": "05-30-2008",
                          "val": "9.71%"
                        },
                        {
                          "dte": "04-30-2008",
                          "val": "5.20%"
                        },
                        {
                          "dte": "03-31-2008",
                          "val": "0.54%"
                        },
                        {
                          "dte": "02-29-2008",
                          "val": "-4.11%"
                        },
                        {
                          "dte": "01-31-2008",
                          "val": "-9.90%"
                        },
                        {
                          "dte": "12-31-2007",
                          "val": "3.45%"
                        },
                        {
                          "dte": "11-30-2007",
                          "val": "-7.42%"
                        },
                        {
                          "dte": "10-31-2007",
                          "val": "7.76%"
                        },
                        {
                          "dte": "09-28-2007",
                          "val": "5.71%"
                        },
                        {
                          "dte": "08-31-2007",
                          "val": "3.03%"
                        },
                        {
                          "dte": "07-31-2007",
                          "val": "-3.49%"
                        },
                        {
                          "dte": "06-29-2007",
                          "val": "-2.22%"
                        },
                        {
                          "dte": "05-31-2007",
                          "val": "4.62%"
                        },
                        {
                          "dte": "04-30-2007",
                          "val": "3.17%"
                        },
                        {
                          "dte": "03-30-2007",
                          "val": "1.95%"
                        },
                        {
                          "dte": "02-28-2007",
                          "val": "-1.60%"
                        },
                        {
                          "dte": "01-31-2007",
                          "val": "0.79%"
                        },
                        {
                          "dte": "12-29-2006",
                          "val": "-1.92%"
                        },
                        {
                          "dte": "11-30-2006",
                          "val": "2.81%"
                        },
                        {
                          "dte": "10-31-2006",
                          "val": "2.10%"
                        },
                        {
                          "dte": "09-29-2006",
                          "val": "7.79%"
                        },
                        {
                          "dte": "08-31-2006",
                          "val": "6.69%"
                        },
                        {
                          "dte": "07-31-2006",
                          "val": "-0.13%"
                        },
                        {
                          "dte": "06-30-2006",
                          "val": "-0.11%"
                        },
                        {
                          "dte": "05-31-2006",
                          "val": "-10.23%"
                        },
                        {
                          "dte": "04-28-2006",
                          "val": "1.25%"
                        },
                        {
                          "dte": "03-31-2006",
                          "val": "2.12%"
                        },
                        {
                          "dte": "02-28-2006",
                          "val": "-2.63%"
                        },
                        {
                          "dte": "01-31-2006",
                          "val": "3.75%"
                        },
                        {
                          "dte": "12-30-2005",
                          "val": "-0.07%"
                        },
                        {
                          "dte": "11-30-2005",
                          "val": "-2.47%"
                        },
                        {
                          "dte": "10-31-2005",
                          "val": "0.49%"
                        },
                        {
                          "dte": "09-30-2005",
                          "val": "2.75%"
                        },
                        {
                          "dte": "08-31-2005",
                          "val": "-0.77%"
                        },
                        {
                          "dte": "07-29-2005",
                          "val": "4.84%"
                        },
                        {
                          "dte": "06-30-2005",
                          "val": "-3.03%"
                        },
                        {
                          "dte": "05-31-2005",
                          "val": "9.53%"
                        },
                        {
                          "dte": "04-29-2005",
                          "val": "-5.16%"
                        },
                        {
                          "dte": "03-31-2005",
                          "val": "-2.61%"
                        },
                        {
                          "dte": "02-28-2005",
                          "val": "-1.16%"
                        },
                        {
                          "dte": "01-31-2005",
                          "val": "-6.94%"
                        },
                        {
                          "dte": "12-31-2004",
                          "val": "5.82%"
                        },
                        {
                          "dte": "11-30-2004",
                          "val": "6.47%"
                        },
                        {
                          "dte": "10-29-2004",
                          "val": "9.75%"
                        },
                        {
                          "dte": "09-30-2004",
                          "val": "6.32%"
                        },
                        {
                          "dte": "08-31-2004",
                          "val": "-3.69%"
                        },
                        {
                          "dte": "07-30-2004",
                          "val": "-11.11%"
                        },
                        {
                          "dte": "06-30-2004",
                          "val": "2.78%"
                        },
                        {
                          "dte": "05-28-2004",
                          "val": "1.92%"
                        },
                        {
                          "dte": "04-30-2004",
                          "val": "-3.99%"
                        },
                        {
                          "dte": "03-31-2004",
                          "val": "-0.50%"
                        },
                        {
                          "dte": "02-27-2004",
                          "val": "-1.83%"
                        },
                        {
                          "dte": "01-30-2004",
                          "val": "2.65%"
                        },
                        {
                          "dte": "12-31-2003",
                          "val": "3.99%"
                        },
                        {
                          "dte": "11-28-2003",
                          "val": "-0.49%"
                        },
                        {
                          "dte": "10-31-2003",
                          "val": "8.41%"
                        },
                        {
                          "dte": "09-30-2003",
                          "val": "-2.01%"
                        },
                        {
                          "dte": "08-29-2003",
                          "val": "8.87%"
                        },
                        {
                          "dte": "07-31-2003",
                          "val": "1.45%"
                        },
                        {
                          "dte": "06-30-2003",
                          "val": "0.38%"
                        },
                        {
                          "dte": "05-30-2003",
                          "val": "12.45%"
                        },
                        {
                          "dte": "04-30-2003",
                          "val": "12.18%"
                        },
                        {
                          "dte": "03-31-2003",
                          "val": "-3.46%"
                        },
                        {
                          "dte": "02-28-2003",
                          "val": "-2.16%"
                        },
                        {
                          "dte": "01-31-2003",
                          "val": "3.30%"
                        },
                        {
                          "dte": "12-31-2002",
                          "val": "-13.47%"
                        },
                        {
                          "dte": "11-29-2002",
                          "val": "17.58%"
                        },
                        {
                          "dte": "10-31-2002",
                          "val": "19.81%"
                        },
                        {
                          "dte": "09-30-2002",
                          "val": "-11.03%"
                        },
                        {
                          "dte": "08-30-2002",
                          "val": "-1.23%"
                        }
                      ],
                      "stats": {
                        "high": {
                          "dte": "10-31-2002",
                          "val": "19.81%"
                        },
                        "low": {
                          "dte": "10-31-2008",
                          "val": "-22.95%"
                        },
                        "avg": {
                          "dte": null,
                          "val": "1.42%"
                        },
                        "mean": null
                      },
                      "note": "Security's inception is 7/13/2001 therefore values cannot be calculated prior to 7/13/2002",
                      "err": null
                    }
                  },
                  "properties": {
                    "report": {
                      "type": "string",
                      "description": "Type of report: sharpe, sd, corr, return, etc"
                    },
                    "ticker": {
                      "type": "string",
                      "description": "Ticker symbol requested"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of requested ticker "
                    },
                    "list": {
                      "description": "List of stats and date of calculation",
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FTBulkStatItem"
                      }
                    },
                    "overview": {
                      "type": "object",
                      "description": "Overview of results: highest value, lowest value, and simple average of all values",
                      "properties": {
                        "high": {
                          "$ref": "#/components/schemas/FTBulkStatItem"
                        },
                        "low": {
                          "$ref": "#/components/schemas/FTBulkStatItem"
                        },
                        "avg": {
                          "$ref": "#/components/schemas/FTBulkStatItem"
                        },
                        "mean": {}
                      }
                    },
                    "note": {
                      "type": "string",
                      "description": "Note about calculation start and end dates"
                    },
                    "err": {
                      "$ref": "#/components/schemas/err"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-stats-ticker-report",
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "ml",
            "description": "Number of months to lookback when calculating stats. ql=4 is trailing 1 year. ql=12  is trialing 3 years, etc"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "description": "Retrieve a time series of statisics. ie Monthly SD, Monthly Sharpe Ratio, Monthly total returns, etc"
      }
    },
    "/v1/ref/{ticker}/shareclasses": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Share Classes",
        "tags": [
          "8. Reference Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "ticker": "MDISX",
                      "datalist": [
                        {
                          "expense_ratio": "0.92",
                          "expense_12b": "",
                          "expense_deferred": "0",
                          "initial_purchase": "1000000",
                          "shareclass": "Retirement",
                          "ticker": "FMDRX"
                        },
                        {
                          "expense_ratio": "1.03",
                          "expense_12b": "",
                          "expense_deferred": "0",
                          "initial_purchase": "100000",
                          "shareclass": "Inst",
                          "ticker": "MDISX"
                        },
                        {
                          "expense_ratio": "1.28",
                          "expense_12b": "0.25",
                          "expense_deferred": "0",
                          "initial_purchase": "1000",
                          "shareclass": "A",
                          "ticker": "TEDIX"
                        },
                        {
                          "expense_ratio": "1.53",
                          "expense_12b": "0.5",
                          "expense_deferred": "0",
                          "initial_purchase": "1000",
                          "shareclass": "Retirement",
                          "ticker": "TEDRX"
                        },
                        {
                          "expense_ratio": "2.03",
                          "expense_12b": "1",
                          "expense_deferred": "1",
                          "initial_purchase": "1000",
                          "shareclass": "C",
                          "ticker": "TEDSX"
                        }
                      ]
                    }
                  },
                  "properties": {
                    "ticker": {
                      "type": "string",
                      "description": "requested ticker"
                    },
                    "datalist": {
                      "type": "array",
                      "uniqueItems": false,
                      "items": {
                        "$ref": "#/components/schemas/FTFees"
                      }
                    }
                  },
                  "required": [
                    "ticker",
                    "datalist"
                  ]
                },
                "examples": {
                  "Example": {
                    "value": {
                      "ticker": "MDISX",
                      "datalist": [
                        {
                          "expense_ratio": "0.92",
                          "expense_12b": "",
                          "expense_deferred": "0",
                          "initial_purchase": "1000000",
                          "shareclass": "Retirement",
                          "ticker": "FMDRX"
                        },
                        {
                          "expense_ratio": "1.03",
                          "expense_12b": "",
                          "expense_deferred": "0",
                          "initial_purchase": "100000",
                          "shareclass": "Inst",
                          "ticker": "MDISX"
                        },
                        {
                          "expense_ratio": "1.28",
                          "expense_12b": "0.25",
                          "expense_deferred": "0",
                          "initial_purchase": "1000",
                          "shareclass": "A",
                          "ticker": "TEDIX"
                        },
                        {
                          "expense_ratio": "1.53",
                          "expense_12b": "0.5",
                          "expense_deferred": "0",
                          "initial_purchase": "1000",
                          "shareclass": "Retirement",
                          "ticker": "TEDRX"
                        },
                        {
                          "expense_ratio": "2.03",
                          "expense_12b": "1",
                          "expense_deferred": "1",
                          "initial_purchase": "1000",
                          "shareclass": "C",
                          "ticker": "TEDSX"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-ref-ticker-shareclasses",
        "description": "Retrieve information about all other share classes of security",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ]
      }
    },
    "/v1/ref/xmulti/details": {
      "post": {
        "summary": "Ticker Details - Multiple",
        "operationId": "post-v1-ref-xmulti-detail",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTInfoTickerList"
                }
              }
            }
          }
        },
        "description": "Get details data about multiple tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "tags": [
          "8. Reference Data"
        ]
      }
    },
    "/v1/family/screener": {
      "post": {
        "summary": "Family Screener",
        "operationId": "post-v1-family-screener",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "x-examples": {
                    "example-1": {
                      "resulttickers": [
                        "ANCMX",
                        "ANNPX",
                        "ANZAX",
                        "ANZCX",
                        "AVK",
                        "BCV",
                        "CAGCX",
                        "CBH",
                        "CCD",
                        "CCGCX",
                        "CCVIX",
                        "CHI",
                        "CHY",
                        "CICVX",
                        "CNSAX",
                        "CNSCX",
                        "CNSDX",
                        "COCRX",
                        "COVRX",
                        "CSFYX",
                        "CWB",
                        "CXGCX",
                        "ECF",
                        "EWCO",
                        "FACVX",
                        "FBMPX",
                        "FCCVX",
                        "FCOM",
                        "FCSZX",
                        "FCVSX",
                        "FCVT",
                        "FGDMX",
                        "FGEMX",
                        "FGHMX",
                        "FGJMX",
                        "FGKMX",
                        "FICVX",
                        "FIJGX",
                        "FIQVX",
                        "FISCX",
                        "FIVG",
                        "FLICX",
                        "FNETX",
                        "FROTX",
                        "FSTCX",
                        "FTCVX",
                        "FTICX",
                        "FTUAX",
                        "FTUCX",
                        "FTUIX",
                        "FTUTX",
                        "FWRLX",
                        "GABTX",
                        "GCV",
                        "GTCAX",
                        "GTTIX",
                        "HACSX",
                        "HICSX",
                        "ICVT",
                        "IEME",
                        "IWFH",
                        "IXP",
                        "IYZ",
                        "JHCS",
                        "LACCX",
                        "LACFX",
                        "LBFFX",
                        "LCFYX",
                        "MCFAX",
                        "MCFCX",
                        "MCIFX",
                        "MCINX",
                        "MCNVX",
                        "MCOAX",
                        "MCPIX",
                        "MCSVX",
                        "NCIAX",
                        "NCV",
                        "NCZ",
                        "PACIX",
                        "PBXIX",
                        "PCF",
                        "PCGYX",
                        "PCONX",
                        "PRMTX",
                        "QCON",
                        "RYCSX",
                        "RYMAX",
                        "RYMIX",
                        "RYTLX",
                        "SBFCX",
                        "TISHX",
                        "TTMIX",
                        "VICIX",
                        "VOX",
                        "VPOP",
                        "VTCAX",
                        "WESIX",
                        "WESRX",
                        "XLC",
                        "XTL"
                      ],
                      "resulttotal": "101",
[...]
