{
  "openapi": "3.0.0",
  "info": {
    "title": "FT Lightning Data API",
    "description": "FTLightning API provides REST access to FastTrack investment data for our 30k+ funds, ETFs, stocks, and indexes. The data includes dividend adjusted closing prices back to 1988, derived statistics and portfolio models. \n\nVisit https://apitrial.fasttrack.net for a trial account. \n\nSearch the FastTrack database here: https://ftcloud.fasttrack.net/web/search\n",
    "contact": {
      "email": "ftlightning@fasttrack.net",
      "name": "FT Lightning Support",
      "url": "http://www.fasttrack.net"
    },
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://ftl.fasttrack.net",
      "description": ""
    }
  ],
  "paths": {
    "v1/auth/login": {
      "get": {
        "summary": "Login",
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "account number"
          },
          {
            "name": "pass",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "password"
          },
          {
            "name": "appid",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "description": "application id received with sign up email"
          }
        ],
        "responses": {
          "200": {
            "description": "Basic user information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfo"
                }
              }
            }
          }
        },
        "description": "Server authentication. The returned token must be passed as a header with all other API calls",
        "tags": [
          "1. Auth"
        ]
      }
    },
    "v1/data/{ticker}/range": {
      "get": {
        "summary": "Data Range",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/d"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRange"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve a single ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "2. Market Data"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "v1/data/xmulti/range": {
      "post": {
        "summary": "Data Range - Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/d"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker and parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataRangeList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Retrieve multiple ticker's adjusted and unadjusted closing, open, high low, and volume data over the data range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "operationId": "",
        "tags": [
          "2. Market Data"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        }
      }
    },
    "v1/data/{ticker}": {
      "get": {
        "summary": "Bulk Data",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          }
        ],
        "responses": {
          "200": {
            "description": "Data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of a single ticker. Entire date range is 9/1/1988 to the most recent market day.\n",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/data/xmulti": {
      "post": {
        "summary": "Bulk Data - Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "$ref": "#/components/parameters/yield"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "data points associated with tickers",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDataList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns all data for the entire data range of multiple tickers. Entire date range is 9/1/1988 to the most recent market day.\n",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/data/{ticker}/divadjprices": {
      "get": {
        "summary": "Closing Prices - Adjusted",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's dividend adjusted closing prices for all days in FastTrack database. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/data/{ticker}/unadjprices": {
      "get": {
        "summary": "Closing Prices - Unadjusted",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's unadjusted closing prices for all days in FastTrack database. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/data/{ticker}/startday": {
      "get": {
        "summary": "Inception Date",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's start date. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/data/{ticker}/symname": {
      "get": {
        "summary": "Name",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTData"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns ticker's name. All other objects are null",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      },
      "parameters": []
    },
    "v1/data/dates": {
      "get": {
        "summary": "Dates",
        "parameters": [],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDates"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "operationId": "",
        "description": "Returns array with every date in the FastTrack database. This object is used to interpret the data/{ticker}/divadjprices and data/{ticker}/unadjprices results",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/family/{strFamily}": {
      "get": {
        "summary": "Family",
        "parameters": [
          {
            "name": "strFamily",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function returns the requested family. Requested name must match FastTrack's family name exactly, CASE INSENSITIVE",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/family/": {
      "get": {
        "summary": "Family Search",
        "parameters": [
          {
            "name": "s",
            "in": "query",
            "description": "Text to search all families",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options",
            "in": "query",
            "description": "if set to 'onlyticker', search will only return families that contain the exact ticker specified by 's'",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all",
              "enum": [
                "onlyticker",
                "all"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTFamily"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "A \"family\" is a group of ticker symbols created by FastTrack. This function searches all FastTrack families by family name, family partial name, and family members (tickers).",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "Other Data"
        ]
      }
    },
    "v1/stats/{ticker}": {
      "get": {
        "summary": "One Ticker",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStats"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns calulated statistics on a single ticker over the date range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "3. Stats"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "v1/stats/xmulti": {
      "post": {
        "summary": "Multiple Tickers",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with ticker",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTStatsList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns calulated statistics on multiple ticker over the date range",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "3. Stats"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TickerArray"
              }
            }
          }
        }
      }
    },
    "v1/portfolios/staticmodel": {
      "post": {
        "summary": "Calculate Static Model",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          },
          {
            "$ref": "#/components/parameters/details"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with static model",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResults"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Calculates the specified portfolio over the specifed rebalance period",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "tags": [
          "4. Portfolio Modeling"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "",
                "type": "object",
                "properties": {
                  "model": {
                    "type": "array",
                    "uniqueItems": true,
                    "minItems": 1,
                    "items": {
                      "$ref": "#/components/schemas/FTPosition"
                    }
                  },
                  "start": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Model's start date. The first date the model is allocated to 'weights'. All dates prior are money market returns. Calendar, Julian, or market dates are accepted",
                    "default": "1988-09-01"
                  },
                  "rebalanceperiod": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Specify the rebalance frequency. This is how often the portfolio trades.",
                    "enum": [
                      "week",
                      "month",
                      "quarter",
                      "annual",
                      "[number of market days]"
                    ],
                    "default": "quarter"
                  },
                  "marginrate": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "annual percent interest on borrowed money. All interest is accrued quarterly.",
                    "default": 0
                  },
                  "seed": {
                    "type": [
                      "number",
                      "null"
                    ],
                    "description": "value of portfolio on the first day of trading",
                    "default": 100000
                  },
                  "name": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Name of model"
                  }
                },
                "required": [
                  "model",
                  "start",
                  "rebalanceperiod"
                ]
              },
              "examples": {
                "Single Static Model Example": {
                  "value": {
                    "model": [
                      {
                        "ticker": "SPY",
                        "weight": "50"
                      },
                      {
                        "ticker": "TLT",
                        "weight": "50"
                      }
                    ],
                    "start": "12/31/2016",
                    "rebalanceperiod": "week",
                    "marginrate": 0,
                    "seed": 1000,
                    "name": "John's Portfolio"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "v1/portfolios/staticmodel/xmulti": {
      "post": {
        "summary": "Calculate Multiple Static Models",
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/basis"
          },
          {
            "$ref": "#/components/parameters/len"
          },
          {
            "$ref": "#/components/parameters/details"
          },
          {
            "$ref": "#/components/parameters/maxdraw"
          },
          {
            "$ref": "#/components/parameters/chart"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/monthend"
          },
          {
            "$ref": "#/components/parameters/riskfree"
          }
        ],
        "responses": {
          "200": {
            "description": "data points associated with static models",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTModelResultsList"
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Calculates the specified portfolios over the specifed rebalance period",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "",
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "type": "object",
                  "description": "Array of FTStaticModelParameters",
                  "properties": {
                    "model": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "description": "FTStaticModelParameter",
                      "items": {
                        "$ref": "#/components/schemas/FTPosition"
                      }
                    },
                    "start": {
                      "type": "string",
                      "description": "Model's start date. The first date the model is allocated to 'weights'. All dates prior are money market returns. Calendar, Julian, or market dates are accepted",
                      "default": "1988-09-01"
                    },
                    "rebalanceperiod": {
                      "type": "string",
                      "minLength": 1,
                      "enum": [
                        "week",
                        "month",
                        "quarter",
                        "annual",
                        "[number of market days]"
                      ],
                      "default": "quarter"
                    },
                    "name": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "minLength": 1,
                      "description": "Name of model"
                    },
                    "marginrate": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "annual percent interest on borrowed money. All interest is accrued quarterly.",
                      "default": 0
                    },
                    "seed": {
                      "type": [
                        "number",
                        "null"
                      ],
                      "description": "value of portfolio on the first day of trading",
                      "default": 100000
                    }
                  },
                  "required": [
                    "model",
                    "start",
                    "rebalanceperiod"
                  ]
                }
              },
              "examples": {
                "Multi Static Model Example": {
                  "value": [
                    {
                      "model": [
                        {
                          "ticker": "SPY",
                          "weight": "50"
                        },
                        {
                          "ticker": "TLT",
                          "weight": "50"
                        }
                      ],
                      "start": "12/31/2000",
                      "rebalanceperiod": "quarter",
                      "name": "50 50 Static Model"
                    },
                    {
                      "model": [
                        {
                          "ticker": "SPY",
                          "weight": "60"
                        },
                        {
                          "ticker": "TLT",
                          "weight": "40"
                        }
                      ],
                      "start": "12/31/2000",
                      "rebalanceperiod": "quarter",
                      "name": "60 40 Static Model"
                    }
                  ]
                }
              }
            }
          },
          "description": "Array of FTStaticModel Parameters"
        },
        "operationId": "staticmulti",
        "tags": [
          "4. Portfolio Modeling"
        ]
      }
    },
    "v1/export/{ticker}": {
      "get": {
        "summary": "Export CSV",
        "parameters": [
          {
            "$ref": "#/components/parameters/ticker"
          },
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          },
          {
            "$ref": "#/components/parameters/unadj"
          },
          {
            "$ref": "#/components/parameters/olhv"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "appid",
            "description": "36 characher GUID received from welcome email. Sign up for trial at http://apitrial.fasttrack.net",
            "required": true
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "token",
            "description": "Temporary token received from auth/login end point",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "CSV file with dates and closing prices",
            "headers": {
              "Content-Disposition": {
                "style": "simple",
                "explode": false,
                "schema": {
                  "type": "string",
                  "example": "attachment,filename={ticker}.csv"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "CSV format {date},{closing price}",
                  "example": "SP-DA\nS&P 500 Dividend Adjusted Idx\n02/10/2017,4435.4200\n02/13/2017,4459.8300\n02/14/2017,4478.9800\n02/15/2017,4501.9900\n..."
                }
              }
            }
          },
          "400": {
            "description": "bad input parameter"
          }
        },
        "description": "Returns a CSV file of a single ticker's adjusted/unadjusted closing prices.",
        "tags": [
          "6. Export"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ]
    },
    "/v1/data/{ticker}/dividends": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Dividends",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTDividends"
                }
              }
            }
          }
        },
        "operationId": "get-v1-data-ticker-dividends",
        "description": "Retrieve all dividends for a specific ticker",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/start"
          },
          {
            "$ref": "#/components/parameters/end"
          }
        ],
        "tags": [
          "5. Dividends"
        ]
      }
    },
    "v1/report": {
      "get": {
        "summary": "Embed Chart (iframe)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string",
                  "description": "simple HTML webpage that renders in any browser"
                },
                "examples": {}
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              },
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "operationId": "get-chart-report.html",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "[hex],[hex],[hex]"
            },
            "in": "query",
            "name": "colors",
            "description": "comma separated values for chart line colors. color order is applied the same as \"tickers\". Specify hex code and do not include \"#\""
          },
          {
            "schema": {
              "type": "string",
              "example": "000000",
              "pattern": ""
            },
            "in": "query",
            "name": "fore",
            "description": "foreground (text) color of chart and report in hex code (do not include \"#\")"
          },
          {
            "schema": {
              "type": "string",
              "example": "ffccbc",
              "default": "FFFFFF"
            },
            "in": "query",
            "name": "bg",
            "description": "background color of chart and report in hex code (do not include \"#\")"
          },
          {
            "schema": {
              "type": "string",
              "example": "1",
              "default": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showdates",
            "description": "toggle to show or hide date selectors on chart"
          },
          {
            "schema": {
              "type": "string",
              "example": "1",
              "default": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showheader",
            "description": "toggle to show or hide header on report"
          },
          {
            "schema": {
              "type": "string",
              "default": "1",
              "example": "1",
              "enum": [
                "1",
                "0"
              ]
            },
            "in": "query",
            "name": "showreport",
            "description": "toggle to show or hide header of report"
          },
          {
            "in": "query",
            "name": "basis",
            "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
            "schema": {
              "default": "SP-DA",
              "type": "string"
            }
          },
          {
            "schema": {
              "type": "string",
              "pattern": "ticker,ticker,ticker"
            },
            "in": "query",
            "name": "tickers",
            "required": true,
            "description": "comma separated list of tickers to display in chart, and report"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "y",
                "1",
                "2",
                "3",
                "6",
                "9",
                "12",
                "24",
                "36",
                "60",
                "84",
                "120",
                "180",
                "240",
                "m"
              ]
            },
            "in": "query",
            "name": "datebuttons",
            "description": "comma separated list of date shortcut buttons to show. defined as number of months ie 24 = two years, 60 = 5 years"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "token",
            "required": true,
            "description": "authentication token returned from the /login endpoint "
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "appid",
            "description": "application id assigned at account opening",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "default": "2019-12-31",
              "example": "2019-12-31",
              "pattern": "yyyy-MM-dd"
            },
            "in": "query",
            "name": "start",
            "description": "First day in the date range of all calculations/requests"
          }
        ],
        "security": [],
        "description": "Embed custom FastTrack charts on your webpage with an iframe.",
        "tags": [
          "7. iFrame Chart"
        ]
      },
      "parameters": []
    },
    "v1/ref/{ticker}/details": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Ticker Details",
        "tags": [
          "8. Reference Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTInfoTicker"
                }
              }
            }
          }
        },
        "operationId": "get-info-tickeR-details",
        "description": "Returns category and expense ratio of ticker \\*\\***Must use https://FTL.fasttrack.net/v1 server** \\*\\*",
        "parameters": [],
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "v1/ref/{ticker}/portfolio": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ticker"
        }
      ],
      "get": {
        "summary": "Portfolio Details",
        "tags": [
          "8. Reference Data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FTInfoPortfolio"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "operationId": "get-info-ticker-portfolio",
        "description": "Get mutual fund or ETF's top ten positions, sector weighting, and net 1 year flows \\*\\***Must use https://FTL.fasttrack.net/v1 server** \\*\\*",
        "security": [
          {
            "token": []
          },
          {
            "appid": []
          }
        ]
      }
    },
    "v1/search": {
      "get": {
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "curor position of search results. ie index of first result to return. Use this to page through results"
          },
          {
            "name": "fq",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "db:1",
                "db:2",
                "db:3",
                "db:15"
              ]
            },
            "description": "filter options. Use 1 for Funds, 2 for ETFs, 3 for Stocks, and 15 for indexes."
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "text or phrase to search for"
          },
          {
            "name": "size",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "number of results to return"
          }
        ],
        "responses": {
          "200": {
            "description": "200 response",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "string",
                      "description": "total results for search request"
                    },
                    "start": {
                      "type": "string",
                      "description": "start index of search results (used in paging through results)"
                    },
                    "hit": {
                      "type": "array",
                      "description": "list of all search results",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "security name"
                          },
                          "ticker": {
                            "type": "string",
                            "description": "security ticker"
                          },
                          "score": {
                            "type": "string",
                            "description": "items relevance score relative to search term"
                          },
                          "db": {
                            "type": "string",
                            "description": "security type: 1 = Funds, 2 = ETF, 3 = Stock, 15 = Index"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-search",
        "description": "Search the fasttrack database accross ticker, name, and cusip",
        "tags": [
          "9. Search"
        ],
        "summary": "Search Database",
        "security": [
          {
            "appid": []
          },
          {
            "token": []
          }
        ]
      }
    },
    "/v1/ref/staticmodel": {
      "post": {
        "summary": "Static Model Reference Data",
        "operationId": "post-v1-portfolios-staticmodel-ref",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "portfolio": {
                      "$ref": "#/components/schemas/FTInfoPortfolio"
                    },
                    "positiondata": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FTInfoPortfolio"
                      }
                    },
                    "total": {
                      "type": "string"
                    },
                    "model": {
                      "$ref": "#/components/schemas/FTStaticModelParam"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "returns reference data for portfolio and portfolio positions ",
        "parameters": [
          {
            "$ref": "#/components/parameters/appid"
          },
          {
            "$ref": "#/components/parameters/token"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FTStaticModelParam"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/FTStaticModelParam"
              }
            }
          },
          "description": ""
        },
        "tags": [
          "8. Reference Data"
        ]
      },
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UserInfo": {
        "type": "object",
        "properties": {
          "AcountNumber": {
            "type": "string",
            "description": "User's account number"
          },
          "Pass": {
            "type": "string",
            "description": "User password"
          },
          "Token": {
            "type": "string",
            "description": "authentication token to include in all other API request."
          },
          "AppID": {
            "type": "string",
            "description": "string representing developers app id"
          },
          "Expiration": {
            "type": "string",
            "description": "account's expiration date"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "Basic information about user subscription",
        "x-tags": [
          "Models"
        ]
      },
      "FTData": {
        "type": "object",
        "description": "Contains various pricing data points for a single ticker. View [docs] (https://stoplight.io/p/docs/gh/investors-fasttrack/ftlightning/docs/Examples/02-date_javascript.md?srn=gh/investors-fasttrack/ftlightning/docs/Examples/02-date_javascript.md#data-date-translation]) for information on pricing array translation to dates",
        "properties": {
          "ticker": {
            "example": "SPY",
            "description": "Ticker symbol",
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "S&P 500",
            "description": "Ticker name"
          },
          "prices": {
            "type": "array",
            "description": "Array of closing prices. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "example": [
              10.01,
              11.04,
              11.09
            ],
            "items": {
              "type": "number"
            }
          },
          "unadjprices": {
            "type": "array",
            "description": "Array of unadjusted closing prices in same format as 'prices' object. Requests must use 'unadj' paramter to specifically request this data and it is limited to the trailing 3 years of data. Subscriptions for complete date range are available.",
            "example": [
              10.01,
              11.04,
              11.09
            ],
            "items": {
              "type": "number"
            }
          },
          "startdate": {
            "$ref": "#/components/schemas/FTDate"
          },
          "strstartmarketday": {
            "type": "string",
            "example": "9/1/88",
            "description": "First day of data for ticker symbol. YYYY-MM-DD format."
          },
          "intstartmarketday": {
            "type": "integer",
            "example": 1000,
            "description": "First day of data for symbol. [Market day format](https://stoplight.io/p/docs/gh/investors-fasttrack/ftlightning/docs/Examples/02-date_javascript.md?srn=gh/investors-fasttrack/ftlightning/docs/Examples/02-date_javascript.md#market-days)"
          },
          "yield": {
            "type": "number",
            "example": 3.02,
            "description": "52 week SEC yield"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          },
          "volumes": {
            "type": "array",
            "description": "Array of daily volumes. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "items": {
              "type": "number"
            }
          },
          "opens": {
            "type": "array",
            "description": "Array of open prices. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "items": {
              "type": "number"
            }
          },
          "lows": {
            "type": "array",
            "description": "Array of dialy low prices. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "items": {
              "type": "number"
            }
          },
          "highs": {
            "type": "array",
            "description": "Array of daily high prices. Array is always length of FTDates. Index 1 is ticker's closing price of first market day in FastTrack database (9/1/1988), Index 2 is the second market day (9/2/1988), index 3 is third market day in FastTrack database (9/6/88)",
            "items": {
              "type": "number"
            }
          }
        },
        "title": "",
        "x-tags": [
          "Models"
        ]
      },
      "FTDataList": {
        "type": "object",
        "properties": {
          "datalist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTData"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "List of FTDataList objects containing bulk pricing data for multiple tickers ",
        "x-tags": [
          "Models"
        ]
      },
      "FTDataRange": {
        "type": "object",
        "description": "Describes data for a specific date range",
        "properties": {
          "ticker": {
            "type": "string",
            "example": "SPY",
            "description": "Ticker symbol"
          },
          "name": {
            "type": "string",
            "example": "S&P 500",
            "description": "Name of security"
          },
          "datarange": {
            "type": "array",
            "description": "Array of FTPrice objects containing adjusted and unadjusted prices for date range.",
            "items": {
              "$ref": "#/components/schemas/FTPrice"
            }
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTDataRangeList": {
        "type": "object",
        "properties": {
          "datalist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTDataRange"
            }
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "List of FTDataRAnge objects containing pricing data for multiple tickers over a date range",
        "x-tags": [
          "Models"
        ]
      },
      "FTPrice": {
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/FTDate"
          },
          "price": {
            "type": "number",
            "description": "Adjusted closing priceicker"
          },
          "unadjprice": {
            "type": "number",
            "description": "unadjusted closing price of ticker"
          },
          "open": {
            "type": "number",
            "description": "adjusted daily open price of ticker"
          },
          "high": {
            "type": "number",
            "description": "adjusted daily high price of ticker"
          },
          "low": {
            "type": "number",
            "description": "adjusted daily low price of ticker"
          },
          "volume": {
            "type": "number",
            "description": "adjusted daily volume of ticker"
          }
        },
        "description": "Various pricing pricing data points for a single day",
        "x-tags": [
          "Models"
        ]
      },
      "FTDates": {
        "type": "object",
        "properties": {
          "maxnumdays": {
            "type": "integer",
            "description": "maximum number of market days in the FastTrack database",
            "example": 3000
          },
          "strmaxnumdays": {
            "type": "string",
            "description": "The last day in the FastTrack database",
            "example": "09/01/88"
          },
          "dtes": {
            "type": "array",
            "description": "Array of FTDate objects for every day in the database. Every market day in the database is included in the array. Index 0 is a repeate of index 1.",
            "items": {
              "$ref": "#/components/schemas/FTDate"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "This object contains all date information for FastTrack. There are \"MaxNumDays\" in the database. All prices and date arrays are sized \"MaxNumdays\". The index of the array is also the market day of that value. A date's market day is number of market days elapsed since 9/1/88, the first day in the FastTrack database.",
        "x-tags": [
          "Models"
        ]
      },
      "FTDate": {
        "type": "object",
        "properties": {
          "marketdate": {
            "type": "integer",
            "description": "market days ellapsed since the first day in the database (9/1/88)"
          },
          "juliandate": {
            "type": "integer",
            "description": "julian representation of the date"
          },
          "strdate": {
            "type": "string",
            "description": "MM-dd-yy formatted date"
          }
        },
        "description": "Contains date information of a single date",
        "x-tags": [
          "Models"
        ]
      },
      "FTFamily": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of family"
          },
          "tickers": {
            "type": "string",
            "description": "String of comma \",\" separated ticker that make up family."
          },
          "count": {
            "type": "integer",
            "description": "Number of tickers in family"
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTReturns": {
        "type": "object",
        "title": "",
        "description": "Object containing various annualized/total return values and history of yearly total returns",
        "properties": {
          "annualized": {
            "$ref": "#/components/schemas/FTReturn"
          },
          "total": {
            "$ref": "#/components/schemas/FTReturn"
          },
          "years": {
            "type": "array",
            "description": "array containing total return, by year, of the ticker",
            "items": {
              "$ref": "#/components/schemas/FTYearReturns"
            }
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTYearReturns": {
        "type": "object",
        "properties": {
          "year": {
            "type": "string",
            "description": "Year total return is calculated (Jan 1 to Dec 31)"
          },
          "returns": {
            "type": "string",
            "description": "Total return for the year"
          }
        },
        "x-examples": {
          "example-1": {}
        },
        "description": "Year and total return value for that year",
        "x-tags": [
          "Models"
        ]
      },
      "FTRisk": {
        "type": "object",
        "description": "Various risk and statistical measure of a security. ",
        "title": "",
        "properties": {
          "alpha": {
            "type": "string",
            "description": "alpha -  a measure of outperformance versus a the benchmark"
          },
          "beta": {
            "type": "string",
            "description": "beta against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default. Correlation lenth is set via the \"len\" parameter or defaulted to 21 market days (approximately 1 month)"
          },
          "corr": {
            "type": "string",
            "description": "correlation against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default. Correlation lenth is set via the \"len\" parameter or defaulted to 21 market days (approximately 1 month)"
          },
          "ftalpha": {
            "type": "string",
            "description": "FastTrack proprietary calculation measuring risk, return, and correlation"
          },
          "sd": {
            "type": "string",
            "description": "standard deviation over the time period"
          },
          "sharpe": {
            "type": "string",
            "description": "sharpe ration against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default"
          },
          "ui": {
            "type": "string",
            "description": "ulcer index over the time period"
          },
          "upi": {
            "type": "string",
            "description": "ulcer performance index against the ticker defined in the basis parameter, or Dividend Adjusted S&P500 data as a default"
          },
          "rsi": {
            "type": "string",
            "description": "Relative strength index"
          },
          "r_squared": {
            "type": "string",
            "description": "Coefficient of determination - the percentage of a fund or security's movements that can be explained by movements in a basis"
          },
          "treynor": {
            "type": "string",
            "description": "Treynor ratio - measure risk/ reward"
          }
        },
        "x-examples": {
          "example-1": {}
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTDescribe": {
        "type": "object",
        "properties": {
          "sharesout": {
            "type": "string",
            "description": "number of shares outstanding at the most recent quarter end"
          },
          "marketcap": {
            "type": "string",
            "description": "number of shares outstanding multiplied by the most recent closing price"
          },
          "high_52": {
            "type": "string",
            "description": "adjusted closing price of the 52 week high from the \"end\" parameter"
          },
          "low_52": {
            "type": "string",
            "description": "adjusted closing price of the 52 week low from the \"end\" parameter"
          },
          "yield": {
            "type": "string",
            "description": "SEC yield for the priod 52 weeks from the \"end\" parameter"
          },
          "name": {
            "type": "string",
            "description": "Security name"
          },
          "price": {
            "type": "string",
            "description": "Closing price on \"end date\""
          },
          "price_previous": {
            "type": "string",
            "description": "Closing price for the day before \"end date\""
          },
          "security_type": {
            "type": "string",
            "description": "ETF, Mutual Fund, Stock, or Index"
          },
          "startdate": {
            "$ref": "#/components/schemas/FTDate"
          },
          "yield_all": {
            "type": "string",
            "description": "52 week yield of all dividend types (income, short and long)"
          }
        },
        "description": "Various descriptive data points of security",
        "x-tags": [
          "Models"
        ]
      },
      "FTStats": {
        "type": "object",
        "description": "various stats and data points for a ticker or model",
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Ticker symbol"
          },
          "name": {
            "type": "string",
            "description": "Name of securioty"
          },
          "dtestart": {
            "$ref": "#/components/schemas/FTDate"
          },
          "dteend": {
            "$ref": "#/components/schemas/FTDate"
          },
          "aux": {
            "type": "integer",
            "description": "describes the order which tickers were received."
          },
          "max": {
            "$ref": "#/components/schemas/FTMaxDraw"
          },
          "risk": {
            "$ref": "#/components/schemas/FTRisk"
          },
          "returns": {
            "$ref": "#/components/schemas/FTReturns"
          },
          "describe": {
            "$ref": "#/components/schemas/FTDescribe"
          },
          "chartprices": {
            "$ref": "#/components/schemas/FTChartData"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTStatsList": {
        "type": "object",
        "properties": {
          "statslist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTStats"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "description": "Array of FTStats objects",
        "x-tags": [
          "Models"
        ]
      },
      "FTChartData": {
        "type": "object",
        "properties": {
          "p_percents": {
            "type": "array",
            "description": "daily percent return data",
            "items": {
              "type": "number"
            }
          },
          "p_percents2": {
            "type": "array",
            "description": "percent return from start date data",
            "items": {
              "type": "number"
            }
          },
          "p_log": {
            "type": "array",
            "description": "log adjusted percent return from start date  data (p_percents2)",
            "items": {
              "type": "number"
            }
          },
          "p_divadj": {
            "type": "array",
            "description": "daily dividend adjusted closing prices",
            "items": {
              "type": "number"
            }
          },
          "dates": {
            "$ref": "#/components/schemas/FTDates"
          }
        },
        "description": "Pre calculated data used to draw charts",
        "x-tags": [
          "Models"
        ]
      },
      "FTMaxDraw": {
        "type": "object",
        "description": "Details of maximum drawdown",
        "properties": {
          "maxdrawdown": {
            "type": "string",
            "description": "maximum observed loss of a time period."
          },
          "maxdrawlength": {
            "type": "string",
            "description": "length of time, in months, of the maximum draw down"
          },
          "recoverylength": {
            "type": "string",
            "description": "lenth of time, in months, of time to reach a new peak after reaching draw down bottom"
          },
          "peakdate": {
            "type": "string",
            "description": "day the draw down started"
          },
          "valleydate": {
            "type": "string",
            "description": "day the drawdown reached it bottom"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "err": {
        "type": "object",
        "description": "error responses. see full list of error codes [here](https://stoplight.io/p/docs/gh/investors-fasttrack/ftlightning/docs/01b-Errors.md?srn=gh/investors-fasttrack/ftlightning/docs/01b-Errors.md)",
        "title": "",
        "properties": {
          "code": {
            "type": "string",
            "example": "-5000000",
            "description": "numeric code of error. see full list of error codes [here](https://stoplight.io/p/docs/gh/investors-fasttrack/ftlightning/docs/01b-Errors.md?srn=gh/investors-fasttrack/ftlightning/docs/01b-Errors.md)"
          },
          "message": {
            "type": "string",
            "example": "invalid ticker",
            "description": "text based error message"
          },
          "link": {
            "type": "string",
            "format": "url",
            "description": "link describing error"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTModelResults": {
        "type": "object",
        "properties": {
          "stats": {
            "$ref": "#/components/schemas/FTStats"
          },
          "modeldetails": {
            "type": "array",
            "description": "array containing the break down of all positions for each day of the model",
            "items": {
              "$ref": "#/components/schemas/FTPortfolio"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "x-tags": [
          "Models"
        ],
        "description": "Details and stats of portfolio model results",
        "title": ""
      },
      "FTPortfolio": {
        "type": "object",
        "x-examples": {},
        "properties": {
          "dte": {
            "$ref": "#/components/schemas/FTDate"
          },
          "totalvalue": {
            "type": "string",
            "description": "Total dollar value of portfolio (change from $100,000 on model's start date)"
          },
          "positionlist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTPosition"
            }
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTPosition": {
        "type": "object",
        "example": {
          "ticker": "SPY",
          "weight": "50"
        },
        "x-examples": {
          "Position Example": {
            "ticker": "JPM",
            "weight": 50
          }
        },
        "x-tags": [
          "Models"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "description": "ticker in portfolio"
          },
          "value": {
            "type": "number",
            "description": "dollar value of position. Only used in return result"
          },
          "weight": {
            "type": "string",
            "description": "percentage weighting of ticker.",
            "example": "50"
          }
        },
        "required": [
          "ticker",
          "weight"
        ]
      },
      "FTInfoPortfolio": {
        "description": "Describes a funds or ETFs holdings",
        "type": "object",
        "title": "FTInfoPortfolio",
        "x-tags": [
          "Models"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "minLength": 1,
            "description": "Ticker symbol of security requested"
          },
          "bondexposure": {
            "type": "null",
            "description": "Subscription required - bond grading exposure"
          },
          "topten": {
            "type": "object",
            "description": "Top ten holdings by weight",
            "properties": {
              "date": {
                "type": "string",
                "minLength": 1,
                "description": "as of Date of data"
              },
              "datalist": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "ticker": {
                      "type": "string",
                      "minLength": 1
                    },
                    "netweight": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              }
            }
          },
          "index": {
            "type": "object",
            "description": "Various indexes related to security",
            "properties": {
              "ft": {
                "type": "object",
                "description": "FastTrack's mapped index, based on security's category, style, and correlations",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1
                  },
                  "ticker": {
                    "type": "string"
                  }
                }
              },
              "prospectus": {
                "type": "object",
                "description": "Index/Benchmark listed in security's prospectus",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              },
              "category": {
                "type": "object",
                "description": "Index of the security's category",
                "properties": {
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "flows": {
            "type": "null",
            "description": "Subscription required - Flows in and out of fund"
          },
          "assetclass": {
            "type": "object",
            "description": "Percentage weighting of holdings by asset class",
            "properties": {
              "date": {
                "type": "string",
                "minLength": 1,
                "description": "as of date of data"
              },
              "datalist": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1
                    },
                    "longweight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "shortweight": {
                      "type": "string"
                    },
                    "netweight": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              }
            }
          },
          "region": {
            "type": "object",
            "description": "Percentage weighting of holdings by region",
            "properties": {
              "date": {
                "type": "string",
                "minLength": 1,
                "description": "as of date of data"
              },
              "datalist": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "netweight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              }
            }
          },
          "bondquality": {
            "type": "null",
            "description": "Subscription required"
          },
          "marketcap": {
            "type": "null",
            "description": "Subscription required"
          },
          "sector": {
            "type": "object",
            "description": "Percentage weighting of holding by sector",
            "properties": {
              "date": {
                "type": "string",
                "minLength": 1,
                "description": "as of date of data"
              },
              "datalist": {
                "type": "array",
                "uniqueItems": true,
                "minItems": 1,
                "items": {
                  "type": "object",
                  "properties": {
                    "netweight": {
                      "type": "string",
                      "minLength": 1
                    },
                    "name": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              }
            }
          },
          "sectorBond": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string"
              },
              "datalist": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "netweight": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FTReturn": {
        "type": "object",
        "description": "Annualized (CAGR) / Total returns for the described time periods",
        "title": "",
        "properties": {
          "period": {
            "type": "string",
            "description": "annualized/total dividend adjusted return from start to end"
          },
          "oneday": {
            "type": "string",
            "description": "one day annualized/total return"
          },
          "fiveday": {
            "type": "string",
            "description": "five day annualized/total return"
          },
          "onemonth": {
            "type": "string",
            "description": "one month annualized/total return"
          },
          "threemonths": {
            "type": "string",
            "description": "three month annualized/total return"
          },
          "sixmonths": {
            "type": "string",
            "description": "six month annualized/total return"
          },
          "ninemonths": {
            "type": "string",
            "description": "nine month annualized/total return"
          },
          "one": {
            "type": "string",
            "description": "one year annualized/total return from the \"end\" parameter"
          },
          "three": {
            "type": "string",
            "description": "three year annualized/total return from the \"end\" parameter"
          },
          "five": {
            "type": "string",
            "description": "five year annualized/total return from the \"end\" parameter"
          },
          "ten": {
            "type": "string",
            "description": "ten year annualized/total return from the \"end\" parameter"
          },
          "ytd": {
            "type": "string",
            "description": "year to date annualized/total return from the \"end\" parameter"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTDividends": {
        "title": "FTDividends",
        "type": "object",
        "properties": {
          "numdivs": {
            "type": "string",
            "description": "number of dividends returned in the response"
          },
          "datarange": {
            "type": "array",
            "description": "Array containing dividend objects",
            "items": {
              "$ref": "#/components/schemas/FTDividend"
            }
          },
          "err": {
            "$ref": "#/components/schemas/err"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTDividend": {
        "title": "FTDividend",
        "type": "object",
        "properties": {
          "date": {
            "$ref": "#/components/schemas/FTDate"
          },
          "type": {
            "type": "string",
            "description": "Income, Short Term, or Long Term"
          },
          "type_code": {
            "type": "string",
            "description": "Code describing type"
          },
          "value": {
            "type": "number",
            "description": "Dollar value of dividend"
          }
        },
        "x-tags": [
          "Models"
        ]
      },
      "TickerArray": {
        "title": "TickerArray",
        "type": "array",
        "description": "list of requested tickers ",
        "items": {
          "type": "string"
        },
        "x-examples": {
          "Ticker Array": [
            "JPM",
            "TLT",
            "SPY",
            "SP-DA"
          ]
        },
        "x-tags": [
          "Models"
        ]
      },
      "FTInfoTicker": {
        "title": "FTInfoTicker",
        "type": "object",
        "x-tags": [
          "Models"
        ],
        "properties": {
          "ticker": {
            "type": "string",
            "description": "Requested ticker symbol"
          },
          "category": {
            "type": "string",
            "description": "Category of security"
          },
          "expenseratio": {
            "type": "string",
            "description": "Expense ratio (multiply by 100 to get percentage value)"
          }
        }
      },
      "FTModelResultsList": {
        "title": "FTModelResultsList",
        "type": "object",
        "properties": {
          "err": {
            "$ref": "#/components/schemas/err"
          },
          "resultlist": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTModelResults"
            }
          }
        },
        "description": "Array of FTModel results",
        "x-tags": [
          "Models"
        ]
      },
      "FTStaticModelParam": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/FTStaticModelParam"
            }
          }
        },
        "type": "object",
        "x-examples": {
          "Static Model Parameter Example": {
            "model": [
              {
                "ticker": "SPY",
                "weight": "50"
              },
              {
                "ticker": "TLT",
                "weight": "50"
              }
            ],
            "start": "2020-01-01",
            "rebalanceperiod": "monthly",
            "marginrate": 0,
            "seed": 1000
          }
        },
        "x-tags": [
          "Models"
        ],
        "description": "Definition of static model",
        "properties": {
          "start": {
            "type": "string",
            "description": "Model's start date. The first date the model is allocated to 'weights'. All dates prior are money market returns."
          },
          "rebalanceperiod": {
            "type": "string",
            "description": "Specify the rebalance frequency. This is how often the portfolio trades.",
            "enum": [
              "'week'",
              "'month'",
              "'quarter'",
              "'annual'",
              "'[number of market days]'"
            ]
          },
          "marginrate": {
            "type": "number",
            "description": "annual percent interest on borrowed money. All interest is accrued quarterly."
          },
          "seed": {
            "type": "number",
            "description": "value of portfolio on the first day of trading",
            "default": 100000
          },
          "model": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FTPosition"
            }
          }
        }
      }
    },
    "parameters": {
      "appid": {
        "name": "appid",
        "in": "header",
        "description": "36 characher GUID received from welcome email. Sign up for trial at http://apitrial.fasttrack.net",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
      },
      "token": {
        "name": "token",
        "in": "header",
        "description": "36 characher GUID received from the auth/login end point",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
      },
      "ticker": {
        "name": "ticker",
        "in": "path",
        "description": "ticker symbol",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        },
        "example": "JPM"
      },
      "riskfree": {
        "schema": {
          "type": "string",
          "example": "VMMXX"
        },
        "in": "query",
        "name": "riskfree",
        "description": "ticker or % rate of return used as the \"risk free rate\" in alpha calculation. Default is VMMXX, Vanguard Money Market Fund"
      },
      "start": {
        "name": "start",
        "in": "query",
        "description": "First day in the date range of all calculations/requests",
        "required": true,
        "style": "form",
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "end": {
        "name": "end",
        "in": "query",
        "description": "Last day in the date range of all calculations/requests. If not provided, the last market day in the database is used",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "d": {
        "name": "d",
        "in": "query",
        "description": "Use this to return a single date in the \"data/{ticker}/range\" function. This over rides any value set for start and end.",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "format": "yyyy-MM-dd"
        }
      },
      "unadj": {
        "name": "unadj",
        "in": "query",
        "description": "Flag to include or exclude unadjusted prices. Only trailing 3 years of unadjusted data is available. -1 is returned on any prior date request",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "olhv": {
        "name": "olhv",
        "in": "query",
        "description": "Flag to include or exclude open, low, high, and volume data in on the /data/{ticker}/range and /data/{ticker} endpoints. -1 is returned on any prior date request",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "basis": {
        "name": "basis",
        "in": "query",
        "description": "Basis used for correlation, beta, sharpe ratio, ulcer performance index",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "default": "SP-DA"
        },
        "example": "FBIOX"
      },
      "len": {
        "name": "len",
        "in": "query",
        "description": "Correlation length, described in market days",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "default": 21
        },
        "example": 10
      },
      "maxdraw": {
        "name": "maxdraw",
        "in": "query",
        "description": "Includes or exclude max draw data data in result. Max draw is a HEAVY calculation, so ommit when not necessary to improve performance",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "chart": {
        "name": "chart",
        "in": "query",
        "description": "Include or exclude chart data in result. Chart data is substantually larger than other data and substantually increase the size of the result. Only request if necessary.",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "default": 0,
          "enum": [
            0,
            1
          ]
        }
      },
      "count": {
        "name": "count",
        "in": "query",
        "description": "Total number of datapoints returned in the FTChartData object. This helps improve API response time and minimizes the data loaded into charts. Value must be A to return ALL data points or a number greater than 0",
        "required": false,
        "style": "form",
        "schema": {
          "type": "string",
          "default": 1000
        }
      },
      "monthend": {
        "name": "monthend",
        "in": "query",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 0
        },
        "description": "convert all calculated date ranges to month end. ie 1 year return from 6/28/2019 will calculate back to 6/29/2018 (the last market day of the month) instead of 6/28/2018."
      },
      "yield": {
        "name": "yield",
        "in": "query",
        "description": "flag to include or exclude yield",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "default": 0
        }
      },
      "details": {
        "name": "details",
        "in": "query",
        "required": false,
        "style": "form",
        "schema": {
          "type": "integer",
          "description": "include or exclude \"modeldetails\" object in resutl. Pass \"0\" to reduce result size.",
          "default": 0,
          "enum": [
            0,
            1
          ]
        },
        "description": "include or exclude \"modeldetails\" object in resutl. Pass \"0\" to reduce result size."
      }
    },
    "requestBodies": {},
    "securitySchemes": {
      "appid": {
        "name": "appid",
        "type": "apiKey",
        "in": "header",
        "description": "36 characher GUID received from welcome email. Sign up for trial at [http://apitrial.fasttrack.net](http://apitrial.fasttrack.net)"
      },
      "token": {
        "name": "token",
        "type": "apiKey",
        "in": "header",
        "description": "Temporary token received from auth/login end point "
      }
    }
  },
  "tags": [
    {
      "name": "1. Auth"
    },
    {
      "name": "2. Market Data"
    },
    {
      "name": "3. Stats"
    },
    {
      "name": "4. Portfolio Modeling"
    },
    {
      "name": "5. Dividends"
    },
    {
      "name": "6. Export"
    },
    {
      "name": "7. iFrame Chart"
    },
    {
      "name": "8. Reference Data"
    },
    {
      "name": "9. Search"
    }
  ]
}